<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Order</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Metis Menu -->
<script src="../pageJs/commonCss.js"></script>
<link href="../css/bootstrapValidator.min.css" rel='stylesheet' type='text/css' />
<style type="text/css">
       .help-block {color:red;}
       
.tab .nav-tabs li a:hover{
   background: #692f6c;
   opacity: 0.8;
}
.tab .nav-tabs li.active a{
   opacity: 1;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:hover,
.tab .nav-tabs li.active a:focus{
   color: #fff;
   background: #692f6c;
   border: none;
   border-radius: 0;
}
.tab .nav-tabs li a:before,
.tab .nav-tabs li a:after{
   content: "";
   border-top: 42px solid transparent;
   position: absolute;
   top: -2px;
}
.tab .nav-tabs li a:before{
   border-right: 15px solid #692f6c;
   left: -15px;
}
.tab .nav-tabs li a:after{
   border-left: 15px solid #692f6c;
   right: -15px;
}
.tab .nav-tabs li a i,
.tab .nav-tabs li.active a i{
   display: inline-block;
   padding-right: 5px;
   font-size: 15px;
   text-shadow: none;
}
.tab .nav-tabs li a span{
   display: inline-block;
   font-size: 14px;
   letter-spacing: -9px;
   opacity: 0;
   transition: all 0.3s ease 0s;
}
.tab .nav-tabs li a:hover span,
.tab .nav-tabs li.active a span{
   letter-spacing: 1px;
   opacity: 1;
   transition: all 0.3s ease 0s;
}
.tab .tab-content{
   padding: 30px;
   background: #fff;
   font-size: 16px;
   color: #6c6c6c;
   line-height: 25px;
}
.tab .tab-content h3{
   font-size: 24px;
   margin-top: 0;
}
</style>
</head> 
<body class="cbp-spmenu-push">
<div class="sticky-header header-section " th:replace="head::head">	</div>
<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1" th:replace="menu::menu">	</div>	
		<!-- //header-ends -->
		<!-- main content start-->
		<form method="post" role="form" id="orderForm" th:object="${order_option}">
		<input type="hidden"  id="customerClazzCode" th:field="*{customerClazzCode}">
		<input type="hidden"  id="customerClazzName" name="customerClazzName">
		<input type="hidden"  name="salesCode" id="salesCode">
		<input type="hidden" name="optTime" id="optTime">
		<div id="page-wrapper">
		<nav>
		 	<ol class="breadcrumb">
		 		<li class="breadcrumb-item"><a href="#">&nbsp;新建订单</a></li>
		 		<li class="breadcrumb-item"><a href="#">经销商标准折扣下订单</a></li>
		   </ol>
		
		</nav> 
			<div class="row navbar-fixed-top" style="margin-top: 70px;">
				<div class="col-xs-12 col-md-6"></div>
				<div class="col-xs-12 col-md-6">
					<div class="btn-group pull-right" role="group">
						<button type="button" class="btn btn-primary btn-sm" style="color: rgb(227, 197, 197); background-color: rgb(124, 168, 207);" onclick="$('.collapse').collapse('show')">
							<i class="glyphicon glyphicon-plus"></i>
						</button>
						<button type="button" class="btn btn-warning btn-sm" mc-ace="~" style="background-color: rgb(237, 163, 54);" onclick="$('.collapse').collapse('hide')">
							<i class="glyphicon glyphicon-minus"></i>
						</button>
					</div>
				</div>
			</div>
			<div id="accordion1" class="panel-group" role="tablist" aria-multiselectable="true" style="margin-top: 10px; margin-left: 20px; margin-right: 20px;">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#customerBasicInfo" aria-expanded="true" class="">客户基本信息 Basic information</a>
						</h4>
					</div>
					<div id="customerBasicInfo" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
						<div class="panel-body" style="height: auto;">

							<div class="row">
								<span class="col-md-1 control-label">签约单位</span>
							    <div class="col-md-2">
							    <div class="input-group">
				                    <input type="text" class="form-control" readonly id="customer" name="contracterName">
				                    <span class="input-group-btn">
				                        <button id="showCustomer" class="btn btn-default" type="button" onclick="openSearchUnit()">
				                        	<span class="glyphicon glyphicon-search"></span>
				                        </button>
				                    </span>
				                </div>			                
				                <input type="hidden" name="contracterCode" id="contactorCode">
							    </div>
							    <span class="col-md-1 control-label">性质分类</span>
								<div class="col-md-2">
							      		<input type="text" class="form-control" id="customerClazz" readonly>

							    </div>
							    <span class="col-md-1 control-label">店名</span>
								<div class="col-md-2">
								      		<input type="text" class="form-control" id="" name="customerName">
							    </div>
								<span class="col-md-1 control-label">项目报备编号</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="" name="recordCode">
							    </div>
							</div>
							<div class="row" style="margin-top: 15px;">
								<span class="col-md-1 control-label">客户经理</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="salesName" readonly name="salesName">
							    </div>
							    <span class="col-md-1 control-label">客户经理电话</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="salesTelnumber" name="salesTelnumber">
							    </div>
						    	<span class="col-md-1  control-label">是否改造店</span>
								<div class="col-md-2">
							      <select class="form-control" name="isReformed">
										<option value="1" class="">是</option>
										<option value="0" class="">否</option>
									</select>
							    </div>
								 <span class="col-md-1 control-label">终端客户性质</span>
								<div class="col-md-2">
							      <select class="form-control" name="terminalIndustryCode" id="terminalIndustryCode">
										<option th:each="dealerIndustry : ${order_option.dealerIndustryCodes}" th:value="${dealerIndustry.key}" th:text="${dealerIndustry.value}"></option>
									</select>
							    </div>
							    <input type="hidden" name="terminalIndustryName" id="terminalIndustryName">
							</div>
							<div class="row" style="margin-top: 15px;">
								<span class="col-md-1 control-label">便利店</span>
								<div class="col-md-2">
							      <select class="form-control" name="isConvenientStore">
										<option value="1" class="">是</option>
										<option value="0" class="">否</option>
									</select>
							    </div>
							    <span class="col-md-1 control-label">新客户</span>
								<div class="col-md-2">
							      <select class="form-control" name="isNew">
										<option value="1" class="">是</option>
										<option value="0" class="">否</option>
									</select>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="" role="button" data-toggle="collapse" data-parent="#accordion1" href="#contractBasicInfomation" aria-expanded="true">合同基本信息 Contract basic information</a>
						</h4>
					</div>
					<div id="contractBasicInfomation" class="panel-collapse collapse in" role="tabpanel" aria-expanded="false">
						<div class="panel-body" style="height: auto;">

							<div class="row">
								<span class="col-md-1 control-label">流水号</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="sequenceNumber" aria-describedby="emailHelp" th:field="*{sequenceNumber}" readonly>
							    </div>
							    <span class="col-md-1 control-label">合同号</span>
								<div class="col-md-2">
									<input type="text" class="form-control" aria-describedby="emailHelp"  naem="contractNumber" readonly> <!-- th:field="*{contractNumber}" -->
							    </div>
							    <span class="col-md-1 control-label">销售类型</span>
								<div class="col-md-2">
									<select class="form-control" th:onchange="salesTypeChange(this,[[${order_option.offices}]],[[${order_option.taxRate}]],[[${order_option.exchangeRate}]])" name="saleType" id="salesType">
										<option value="">--请选择--</option>
										<option th:each="type : ${order_option.saleTypes}" th:value="${type.key}" th:text="${type.value}"></option>	
									</select>
							    </div>
							    <span class="col-md-1 control-label">税率</span>
								<div class="col-md-2">
									<input type="text" class="form-control" aria-describedby="emailHelp"  id="taxtRate" readonly name="taxRate">
							    </div>
							</div>
							<div class="row" style="margin-top: 15px;">
								<span class="col-md-1 control-label">原币合同金额</span>
								<div class="col-md-2">
									<input type="text" class="form-control" id="orignalContractAmount"aria-describedby="emailHelp" onblur="getAmount(this)" name="contractValue" >
							    </div>
							    <span class="col-md-1 control-label">币种</span>
								<div class="col-md-2">
									<select class="form-control"  id="currency" name="currency" th:onchange="getExchangeRate(this,[[${order_option.exchangeRate}]])" disabled><!--  th:field="*{currency}"-->
									    <option value="">--选择币种--</option>
									    <!-- <option th:each="exchange : ${order_option.exchangeRate}" th:value="${exchange.key}" th:text="${exchange.value.name}"></option> -->
									</select>
							    </div>
							    <input type="hidden" name="currencyName" id="currencyName">
							    <span class="col-md-1 control-label">合同金额</span>
								<div class="col-md-2">
									<input type="text" class="form-control" id="contractAmount" readonly aria-describedby="emailHelp" name="contractRMBValue"><!-- th:field="*{contractValue}" -->
							    </div>
							    <span class="col-md-1 control-label">购销明细金额合计</span>
								<div class="col-md-2">
									<input type="text" class="form-control" aria-describedby="emailHelp" id="itemsAmount" name="itemsAmount" readonly>
							    </div>	
							</div>
							<div class="row" style="padding-top: 10px;">
								<span class="col-md-1 control-label">汇率</span>
								<div class="col-md-2">
									<input type="text" class="form-control" id="exchangeRate" aria-describedby="emailHelp" readonly name="currencyExchange">
							    </div>
							    <span class="col-md-1 control-label">国际贸易条件</span>
								<div class="col-xs-12 col-md-1" style="padding-right: 1px;">
									<select class="form-control" id="incoterm" name="incoterm" readonly><!-- th:field="*{incoterm}" -->
									     <option></option>
										<option th:each="incoterm : ${order_option.intercoms}" th:value="${incoterm.key}" th:text="${incoterm.value}"></option>
									</select>
								</div>
								<input type="hidden" name="incotermName" id="incotermName">
								<div class="col-xs-12 col-md-1" style="padding-left: 1px;">
									<input type="text" class="form-control" aria-describedby="emailHelp" readonly id="incotermContect" name="incotermContect"><!--  th:field="*{incotermContect}"-->
								</div>
								<span class="col-md-1 control-label">合同管理员</span>
								<div class="col-md-2">
									<input type="text" class="form-control" aria-describedby="emailHelp" name="contractManager" readonly>
							    </div>
							    <span class="col-md-1 control-label">录入日期</span>
							    <div class="col-md-2">
									<input type="text" class="form-control" id="inputDate" aria-describedby="emailHelp" name="createTime" readonly>
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#contractDetailInfo" aria-expanded="true" class="">合同详细信息 Contract details</a>
						</h4>
					</div>
					<div id="contractDetailInfo" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
						<div class="panel-body" style="height: auto;">

							<div class="row">
							 	<span class="col-md-1 control-label">大区</span>
								<div class="col-md-2">
									<select class="form-control" id="officeSelect" th:onchange="getGroups(this,[[${order_option.groups}]])" name="officeCode">
										<option value="">--选择大区--</option>
									</select>
							    </div>
							    <input type="hidden" name="officeName" id="officeName">
							    <span class="col-md-1 control-label">中心</span>
								<div class="col-md-2">
									<select class="form-control" id="selectGroup" name="groupCode">
										<option value="">--选择中心--</option>
									</select>
							    </div>
							    <input type="hidden" name="groupName" id="groupName">
							    <span class="col-md-1 control-label">保修年限(年)</span>
								<div class="col-md-2">
									<input type="text" class="form-control" id="warrenty" value="1" aria-describedby="emailHelp" name="warrenty" readonly><!-- th:field="*{warrenty}" -->
							    </div>
							    <span class="col-md-1 control-label">安装方式</span>
								<div class="col-md-2">
									<input type="text" class="form-control" id="installName" aria-describedby="emailHelp" name="installName" readonly>
									<input type="hidden" id="installCode" name="installCode">
							    </div>
							</div>
							<div class="row">
							  <div class="col-md-1">
							  	<span class="control-label"><strong>地址信息</strong></span>
							  </div>
							  <div class="col-md-11">
							  	<table class="table table-bordered table-hover" style="table-layout:fixed;word-break:break-all;" id="addressTable" data-pagination="false" ></table>
							  </div>
 							</div>  
							<div class="row" style="margin-top: 15px;">
								<span class="col-md-1 control-label">收货方式</span>
								<div class="col-md-2">
									<select class="form-control" name="confirmTypeCode" id="confirmType"><!--  th:field="*{confirmTypeCode}" -->
										<option th:each="receiveTerm : ${order_option.receiveTerms}" th:value="${receiveTerm.key}" th:text="${receiveTerm.value}"></option>
									</select>
							    </div>
							    <input type="hidden" id="confirmTypeName" name="confirmTypeName">
								<span class="col-md-1 control-label">运输方式</span>
								<div class="col-md-2">
									<select class="form-control" name="transferTypeCode" id="transferType">
										<option th:each="shippingType : ${order_option.shippingTypes}" th:value="${shippingType.key}" th:text="${shippingType.value}"></option>
									</select>
									<input type="hidden" id="transferTypeName" name="transferTypeName">
							    </div>
							    <span class="col-md-1 control-label">标准折扣</span>
								<div class="col-md-2">
									<input type="text" class="form-control" id="approvedDicount" readonly name="standardDiscount" th:value="*{standardDiscount}">
							    </div>
							    <input type="hidden" name="mainDiscount" th:value="*{standardDiscount}">
							    <input type="hidden" name="bodyDiscount" th:value="*{standardDiscount}">
							    <div id="freightDiv" style="display:none;">
								    <span class="col-md-1 control-label">外销运费</span>
									<div class="col-md-2">
										<input type="text" class="form-control" aria-describedby="emailHelp" id="freight" name="freight"><!-- th:field="*{freight}" -->
								    </div>
							    </div>				
							</div>
							<div class="row" style="margin-top: 15px;">
								<span class="col-md-1 control-label">授权人1及身份证号</span>
								<div class="col-md-5">
									<input type="text" class="form-control" id="contactor1Id" aria-describedby="emailHelp" name="contactor1Id"><!-- th:field="*{contactor1Id}" -->
							    </div>
							    <span class="col-md-1 control-label">授权人1电话</span>
								<div class="col-md-5">
									<input type="text" class="form-control" id="contactor1Tel" aria-describedby="emailHelp" name="contactor1Tel"><!-- th:field="*{contactor1Tel}"  -->
							    </div>
							</div>
							<div class="row" style="margin-top: 15px;">
								<span class="col-md-1 control-label">授权人2及身份证号</span>
								<div class="col-md-5">
									<input type="text" class="form-control" id="contactor2Id" aria-describedby="emailHelp" name="contactor2Id">
							    </div>
							    <span class="col-md-1 control-label">授权人2电话</span>
								<div class="col-md-5">
									<input type="text" class="form-control" id="contactor2Tel" aria-describedby="emailHelp" name="contactor2Tel">
							    </div>
							</div>
							<div class="row" style="margin-top: 15px;">
								<span class="col-md-1 control-label">授权人3及身份证号</span>
								<div class="col-md-5">
									<input type="text" class="form-control" id="contactor3Id" aria-describedby="emailHelp" name="contactor3Id" >
							    </div>
							    <span class="col-md-1 control-label">授权人3电话</span>
								<div class="col-md-5">
									<input type="text" class="form-control" id="contactor3Tel" aria-describedby="emailHelp" name="contactor3Tel">
							    </div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#paymentMethod" aria-expanded="false">结算方式 Method of payment</a>
						</h4>
					</div>
					<div id="paymentMethod" class="panel-collapse collapse in" role="tabpanel" aria-expanded="false" >
						<div class="panel-body" style="height: auto;">
								 <div class="row">
								 	<span class="col-md-2 control-label">结算方式</span>
									<div class="col-md-10">
										<select class="form-control" id="paymentType"><!--  th:field="*{confirmTypeCode}" -->
											<option th:each="payment : ${order_option.paymentType}" th:value="${payment.key}" th:text="${payment.value}"></option>
										</select>
							   		 </div>
								 </div>
							<!-- <div class="row" style="margin-bottom: 15px;">
								<div class="col-xs-12 col-md-12">
									结算方式 Method of payment
								</div>
								<div class="col-xs-12 col-md-12">
									<span class="text-info" id="paymentArea"></span>
								</div>
							</div>
								 -->
							<!-- <div class="container" id="box" style="width:100%;">
							  <table class="table table-bordered table-hover" style="table-layout:fixed;word-break:break-all;" id="paymentTable" data-pagination="false" ></table>
 							</div>   -->
						</div>
					</div>
				</div>
<!-- 				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#researchTableContent"    >调研表相关内容 Research table related content</a>
						</h4>
					</div>
					<div class="panel-collapse collapse in" role="tabpanel" id="researchTableContent">
						<div class="panel-body" style="height: auto;">

							<div class="row">
								<div class="col-xs-12 col-md-4">
									柜体控制阀件是否甲供
								</div>
								<div class="col-xs-12 col-md-4">
									分体柜是否远程监控
								</div>
								<div class="col-xs-12 col-md-4">
									立柜柜体是否在地下室
								</div>
								<div class="col-xs-12 col-md-4">
									<select class="form-control" name="isTerm1">
										<option value="1">是</option>
										<option value="0">否</option>
									</select>
								</div>
								<div class="col-xs-12 col-md-4">
									<select class="form-control" name="isTerm2">
										<option value="1">是</option>
										<option value="0">否</option>
									</select>
								</div>
								<div class="col-xs-12 col-md-4">
									<select class="form-control" name="isTerm3">
										<option value="1">是</option>
										<option value="0">否</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="" role="button" data-toggle="collapse"  data-parent="#accordion1" href="#purchaseDetail" aria-expanded="true">购销明细 Purchase and sale subsidiary</a>
						</h4>
					</div>
					<div id="purchaseDetail" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
						<div class="panel-body" style="height: auto;">
							<div class="row">
								<div class="col-xs-12 col-md-4">
									柜体控制阀件是否甲供
								</div>
								<div class="col-xs-12 col-md-4">
									分体柜是否远程监控
								</div>
								<div class="col-xs-12 col-md-4">
									立柜柜体是否在地下室
								</div>
								<div class="col-xs-12 col-md-4">
									<select class="form-control" name="isTerm1">
										<option value="1">是</option>
										<option value="0">否</option>
									</select>
								</div>
								<div class="col-xs-12 col-md-4">
									<select class="form-control" name="isTerm2">
										<option value="1">是</option>
										<option value="0">否</option>
									</select>
								</div>
								<div class="col-xs-12 col-md-4">
									<select class="form-control" name="isTerm3">
										<option value="1">是</option>
										<option value="0">否</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3 col-md-3">
									工厂最早交货时间 delivery time
								</div>
								<div class="col-xs-9 col-md-9">
									要求发货时间 Required delivery time
								</div>
								<div class="col-xs-3 col-md-3">
									<input type="text" class="form-control" id="deliveryTime" aria-describedby="emailHelp" readonly name="earliestProductDate">
								</div>
								<div class="col-xs-3 col-md-3">
										<input id="requiredDeliveryTime" class="form-control" type="text" readonly name="earliestDeliveryDate">
								</div>
								<div class="col-xs-3 col-md-3"></div>
								<div class="col-xs-3 col-md-3">
									<select class="form-control" id="version">
									</select>
								</div>
							</div>
							<div class="row">


							</div>
							<div class="row" style="margin-top: 15px;">


							</div>

							<div class="magicalcoder-tmp-wrap" >
								<ul class="nav nav-tabs" role="tablist" id="tablist">
									<li role="presentation" class=""><a href="#all" id="first" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true" class="">所有</a></li>
									<li role="presentation" class=""><a href="#all1" id="second" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true" class="">柜体</a></li>
									<li role="presentation" class=""><a href="#all2" id="third" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="false" class="">机组</a></li>
									<li role="presentation" class=""><a href="#all3" id="four"  aria-controls="home" role="tab" data-toggle="tab" aria-expanded="false" class="">冷风机</a></li>
									<li role="presentation" class=""><a href="#all4" id="five"  aria-controls="profile" role="tab" data-toggle="tab" class="" aria-expanded="false">冷凝器</a></li>
									<li role="presentation" class=""><a href="#all5" id="six"  aria-controls="profile" role="tab" data-toggle="tab" class="" aria-expanded="false">散件</a></li>
									<li role="presentation" class=""><a href="#all6" id="seven"  aria-controls="profile" role="tab" data-toggle="tab" class="" aria-expanded="false">其他</a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane" id="all" style="height: auto;">
										<div class="table-responsive">
											<table class="table" id="materialsTable" style="table-layout:fixed;word-break:break-all;"></table>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="all1" style="height: auto;">
										<div class="table-responsive">
											<table class="table" id="materialsTableall1" style="table-layout:fixed;word-break:break-all;"></table>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="all2" style="height: auto;">
										<div class="table-responsive">
											<table class="table" id="materialsTableall2" style="table-layout:fixed;word-break:break-all;"></table>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="all3" style="height: auto;">
										<div class="table-responsive">
											<table class="table" id="materialsTableall3" style="table-layout:fixed;word-break:break-all;"></table>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="all4" style="height: auto;">
										<div class="table-responsive">
											<table class="table" id="materialsTableall4" style="table-layout:fixed;word-break:break-all;"></table>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="all5" style="height: auto;">
										<div class="table-responsive">
											<table class="table" id="materialsTableall5" style="table-layout:fixed;word-break:break-all;"></table>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane" id="all6" style="height: auto;">
										<div class="table-responsive">
											<table class="table" id="materialsTableall6" style="table-layout:fixed;word-break:break-all;"></table>
										</div>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-xs-12 col-md-12">
									备注 Remark
								</div>
								<div class="col-xs-12 col-md-12">
									<textarea class="form-control" rows="3" name="comments"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#infoCheck" aria-expanded="true" class="">信息查看 Check the information</a>
						</h4>
					</div>
					<div id="infoCheck" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
						<div class="panel-body" style="height: auto;" mc-ace="~">
							<div class="row">
								<div class="col-md-6">							
									<button type="button" class="btn btn-primary btn-sm" id="showGrossProfit" onclick="viewGrossProfit()" style="margin-right: 25px;">
										查看毛利表 Gross profit table
									</button>
									
									<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#magicalcoderMyModal-magical-coder-auto-id-1565064088178">
										查看合同 Look at the contract
									</button>
								</div>
								<div class="row">
									<div class="col-md-6">
										客户确认资料 Customer data
									</div>
									<div class="col-md-6">
										<input type="file" class="form-control-file">
									</div>
								</div> 						
							</div>
							<div class="modal fade" id="magicalcoderMyModal-magical-coder-auto-id-1565064088178" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
											<h4 class="modal-title" id="myModalLabel">合同信息 contract information</h4>
										</div>
										<div class="modal-body">
											还没制作合同 We haven't made the contract yet
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭 close</button>
											<button type="button" class="btn btn-primary">保存 save</button>
										</div>
									</div>
								</div>
							</div>
							<div class="modal fade" id="grossProfit" tabindex="-1" role="dialog">
								<div class="modal-dialog" role="document" style="width:1000px">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="">×</span></button>
											<h4 class="modal-title" id="myModalLabel">毛利表信息</h4>
										</div>
										<div class="modal-body">
											<div id="accordion-magical-coder-auto-id-1564367406503" class="panel-group" role="tablist" aria-multiselectable="true" style="margin-top: 0px; margin-left: 5px; margin-right: 5px;">
													<div class="panel panel-default">
														<div class="panel-heading" role="tab">
															<h4 class="panel-title">
																<a role="button" data-toggle="collapse" data-parent="#accordion-magical-coder-auto-id-1564367406503" href="#collapseOne-magical-coder-auto-id-1564367403401" aria-expanded="true" class="">基本信息</a>
															</h4>
														</div>
														<div id="collapseOne-magical-coder-auto-id-1564367403401" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
															<div class="panel-body" style="height: auto;">

															<div class="row">
													<div class="col-md-3 col-xs-3">需求流水号</div>
													<div class="col-md-3 col-xs-3">合同号</div>
													<div class="col-md-3 col-xs-3">合同名称</div>
													<div class="col-md-3 col-xs-3">合同金额</div>
													<div class="col-md-3 col-xs-3">
														<input type="text" class="form-control" aria-describedby="emailHelp" id="grossSeqNum" disabled>
													</div>
													<div class="col-md-3 col-xs-3">
													 	<input type="text" class="form-control" aria-describedby="emailHelp" disabled>
													 </div>
													 <div class="col-md-3 col-xs-3">
													 	<input type="text" class="form-control" aria-describedby="emailHelp" disabled>
													 </div>
													 <div class="col-md-3 col-xs-3">
													 	<input type="text" class="form-control" aria-describedby="emailHelp" id="grossContractRMBValue" disabled>
													 </div>
												</div><div class="row" style="margin-top: 4px;">
													<div class="col-xs-6 col-md-3">性质分类</div>
													<div class="col-xs-6 col-md-3">版本号</div>
                                                    <div class="col-xs-6 col-md-3">操作人</div>
                                                    <div class="col-xs-6 col-md-3">操作时间</div>
                                                    <div class="col-xs-6 col-md-3">
                                                    	<input type="text" class="form-control"  id="grossClazz" disabled>
                                                    </div>
                                                    <div class="col-xs-6 col-md-3">
                                                        <input type="text" class="form-control"  disabled id="grossVersion">
                                                    </div>
                                                    <div class="col-xs-6 col-md-3">
                                                        <input type="text" class="form-control"  id="grossPerson" disabled>
                                                    </div>
                                                    <div class="col-xs-6 col-md-3">
                                                        <input type="text" class="form-control" id="grossDate" disabled>
                                                    </div>
                                                </div>
                                                </div>
														</div>
													</div>
													<div class="panel panel-default">
														<div class="panel-heading" role="tab">
															<h4 class="panel-title">
																<a class="" role="button" data-toggle="collapse" data-parent="#accordion-magical-coder-auto-id-1564367406503" href="#collapseTwo-magical-coder-auto-id-1564367403394" aria-expanded="true">
																	毛利信息
																</a>
															</h4>
														</div>
														<div id="collapseTwo-magical-coder-auto-id-1564367403394" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
															<div class="panel-body" style="height: auto;">
															<div class="table-responsive">
																<table class="table" id="grossProfitTable">
																</table>
															</div>
															
														</div>
														</div>
													</div>
												</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
											<button type="button" class="btn btn-primary">导出</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn pull-right btn-success" style="margin-left: 25px; margin-right: 25px;" onclick="saveOrder()">保存 save</button>
			<button type="button" class="btn btn-primary pull-right" style="margin-left: 30px;" onclick="saveOrder('submit')">提交 submit</button>
			<button type="button" class="btn pull-right btn-warning">返回 back</button>
		</div>
		</form>
	<div class="modal fade" id="unitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:800px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="">×</span></button>
					<h4 class="modal-title" id="myModalLabel">请选择签约单位</h4>
				</div>
				<div class="modal-body">
					<div class="panel-group">
						<div class="panel-body">
							<div class="row">
								<span class="col-md-2">签约单位</span>
								<div class="col-md-6">
							      <input type="text" class="form-control" id="contractUnitName">
							    </div>
							    <button type="button" class="btn btn-default" onclick="searchUnit()">
							    	<span class="glyphicon glyphicon-search">查询</span>
							    </button>
							</div>
							<table id="contractUnitTable" data-pagination="true"  data-height="900px" class="table table-hover"></table>
						</div>
					</div>
				</div>
		    </div>
		</div>
	</div>
	<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:800px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="">×</span></button>
					<h4 class="modal-title" id="myModalLabel">新增回款类型</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" id="modalType">
					<input type="hidden" id="index">
					<div class="panel-group">
						<div class="panel-body">
							<div class="row">
								<span class="col-md-2">回款类型</span>
								<div class="col-md-4">
							      <select class="form-control" id="paymentType">
									<option value="1">全款</option>
									<option value="2">部分还款</option>
								  </select>
							    </div>
							    <span class="col-md-2">回款起始时间</span>
								<div class="col-md-4">
							      <input type="text" class="form-control" id="paymentTime">
							    </div>
							</div>
							<div class="row" style="margin-top: 20px;">
								<span class="col-md-2">预算回款金额</span>
								<div class="col-md-4">
							      <input type="text" class="form-control" id="budgetReturnAmount" disabled>
							    </div>
							    <span class="col-md-2">预算回款金额(原币)</span>
								<div class="col-md-4">
							      <input type="text" class="form-control" id="originalBudgetReturnAmount" disabled>
							    </div>
							</div>
							<div class="row" style="margin-top: 20px;">
								<span class="col-md-2">所占比列</span>
								<div class="col-md-4">
							      <input type="text" class="form-control" id="proportion" oninput="proportionChange()">
							    </div>
							    <span class="col-md-2">备注</span>
								<div class="col-md-4">
							      <input type="text" class="form-control" id="remark">
							    </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" onclick="confirmPayment()">确定</button>
							</div>
						</div>
					</div>
				</div>
		    </div>
		</div>
	</div>
	<div th:replace="newOrderSubsidiary::subsidiary"></div>
	<div th:replace="addressModal::addressModal"></div>
	<div th:replace="materialconfig::materialconfig"></div>
   <div id="footer" class="container" th:replace="foot::foot"></div>
   <script src="../pageJs/commonJs.js"></script>
<script th:inline="javascript" src="../pageJs/materialColumn.js"></script>
<script th:inline="javascript" src="../pageJs/standDealerOrder/newOrder.js"></script>
<script th:inline="javascript" type="text/javascript">
	var materialGroupMapGroupOrder = [[${order_option.materialGroupMapGroupOrder}]]
	var installationTerms =  [[${order_option.installationTerms}]]
	var intercoms = [[${order_option.intercoms}]]
	var officesMap = [[${order_option.offices}]]
	var groupsMap = [[${order_option.groups}]]
	var shippingTypesMap = [[${order_option.shippingTypes}]]
	var version = getVersion();
	$("#version").append("<option value='" + version + "'>" + version + "</option>");
	var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
		showLeftPush = document.getElementById( 'showLeftPush' ),
		body = document.body;
		
	showLeftPush.onclick = function() {
		classie.toggle( this, 'active' );
		classie.toggle( body, 'cbp-spmenu-push-toright' );
		classie.toggle( menuLeft, 'cbp-spmenu-open' );
		disableOther( 'showLeftPush' );
	};
	

	function disableOther( button ) {
		if( button !== 'showLeftPush' ) {
			classie.toggle( showLeftPush, 'disabled' );
		}
	}
	
	//获取版本
	function  getVersion(){
		var dateString = moment().format('YYYYMMDD');
		var num = '';
	    for(var i=0;i<3;i++)
	    {
	        num+=Math.floor(Math.random()*10);
	    }
	    return 'V'+dateString+num;
	}
</script>	
<script>
$("#gid").on('shown.bs.select',function(e){
    //获取下拉select里的输入框,提示一下搜索下拉
    $(this).prev().find("input").attr('placeholder',"请输入公司名称搜索");
    //绑定一下键盘输入
    $(this).prev().find("input").keyup(function(){
        //为select里的输入框绑定id,方便获取
        $(this).prev().find("input").attr('id',"dangname");
        var dangname = $(this).val();
        var datas = {
            'gname':dangname
        };
        setTimeout(function () {//延时2秒
        	guestlist('#gid',datas);
    	},2000);
    })
});
function guestlist(obj,datas){
    $(obj).empty();
    $.ajax({
        type: "post",
        url:'',//查询url
        data:datas,
        async:false,
        dataType: "json",
        success: function(data){
            if (data !='') {
                var html = '';
                $.each(data,function (index,ele) {
                    html += '<option value="' + ele.id + '">' + ele.unitname+ '</option>';
                });
                $(obj).html(html);
            }else {
                $(obj).html('<option value="">请选择客户</option>');
            }
            //刷新select
            $(obj).selectpicker('refresh');
            $(function () {
                //1.初始化Table
                var oTable = new TableInit();
                $('#showGrossProfit').on('onclick',function(){
                    var opt = {
                            url : "/steigenberger/newOrder/queryGrossProfit",//请求路径
                            silent: true,
                            query:{
                                sequanceNum:1
                            }
                        };
                    $("#mytable").bootstrapTable('refresh', opt);
                    $("#mymodal").modal('show');  
//                    oTable.Init();
                });

            });

        }
    });
}
</script>
<script>
     $('.sidebar-menu').SidebarNav()
   </script>	
   
</body>
</html>