<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="../pageJs/commonCss.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="../bootstrap-date/daterangepicker/daterangepicker-bs3.css"/>
<script type="text/javascript">
var ctxPath  = [[@{/}]];
</script>
</head> 
<body class="cbp-spmenu-push">
<div class="sticky-header header-section " th:replace="head::head">	</div>
<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1" th:replace="menu::menu">	</div>	

	
<div id="page-wrapper">
	<ul class="breadcrumb" style="margin-left: 3%;">
		<li><a href="#">>合同管理</a></li>
	</ul>
	<div id="accordion-magical-coder-auto-id-1565595642357" class="panel-group" role="tablist" aria-multiselectable="true" style="margin-left: 3%;">
	    <div class="panel panel-default">
	        <div class="panel-heading" role="tab">
	            <h4 class="panel-title">
	                <a role="button" data-toggle="collapse" href="#collapseOne-magical-coder-auto-id-1565595641736" aria-expanded="true" class="">查询列表 Query conditions</a>
	            </h4>
	        </div>
	        <div id="collapseOne-magical-coder-auto-id-1564368890555" class="panel-collapse collapse in" role="tabpanel" aria-expanded="false" >
	            <div class="panel-body" style="height: auto;">
	
	                <div class="row">
	                    <div class="col-md-3 col-xs-3">
	                        需求流水号 Code
	                    </div>
	                    <div class="col-md-3 col-xs-3">
	                        合同号 contract code
	                    </div>
	                    <div class="col-md-3 col-xs-3">
	                        需求创建日期 Creation time
	                    </div>
	                    <div class="col-md-3 col-xs-3">
	                        合同制作日期 Contract date
	                    </div>
	                    <div class="col-md-3 col-xs-3">
	                        <input type="text" id="s_sequenceNumber" name="s_sequenceNumber" class="form-control" aria-describedby="emailHelp">
	                    </div>
	                    <div class="col-md-3 col-xs-3">
	                        <input type="text" id="s_contractNumber" name="s_contractNumber" class="form-control" aria-describedby="emailHelp">
	                    </div>
	                    <div class="col-md-3 col-xs-3">
	                        <input type="text" id="s_orderCreateTime" name="s_orderCreateTime" class="form-control">
	                    </div>
	                    <div class="col-md-3 col-xs-3">
	                        <input type="text" id="s_createTime" name="s_createTime" class="form-control">
	                    </div>
	                </div>
	                <div class="row" style="margin-top: 3px;">
	                    <div class="col-md-3 col-xs-3">
	                        签约单位 Contract unit
	                    </div>
	                    <div class="col-md-3 col-xs-3">
	                        签约人 Customer manager
	                    </div>
	                    <div class="col-xs-6 col-md-6">
	                        合同状态 contract status
	                    </div>
	                    <div class="col-md-3 col-xs-3">
	                        <input type="text" id="s_customerName" name="s_customerName" class="form-control" aria-describedby="emailHelp">
	                    </div>
	                    <div class="col-md-3 col-xs-3">
	                        <input type="text" id="s_contractManager" name="s_contractManager" class="form-control" readonly>
	                    </div>
	                    <div class="col-md-3 col-xs-3">
	                        <select class="form-control" id="s_status" name="s_status">
	                            <option value="">-- 请选择 --</option>
	                            <option value="00">合同未制作</option>
	                            <option value="01">合同已制作，待发送</option>
	                            <!--  <option value="2">已发送</option> -->
	                            <option value="03">合同已发送，待客户上传上上签</option>
	                            <option value="04">合同已上传上上签，待客户发起签署</option>
	                            <option value="05">客户已发起签署，待QHC确认</option>
	                            <option value="06">双方已签署</option>
	                        </select>
	                    </div>
	                    <div class="col-md-3 col-xs-3">
	                       
	                    </div>
	                </div>
					<div class="row" style="margin-top: 3px;">
						<div class="col-xs-6"></div>
						<div class="col-xs-6">
							 <button type="button" id="refreshstate" class="btn btn-primary pull-right">同步状态 sync</button>
							 <button type="button" id="reset" class="btn btn-warning pull-right">重置 reset</button>
							 <button type="button" id="search" class="btn btn-success pull-right">查询 select</button>
						</div>
					</div>
	            </div>
	        </div>
	    </div>
	    <div class="panel panel-default">
	        <div class="panel-heading" role="tab">
	            <h4 class="panel-title">
	                <a class="" role="button" data-toggle="collapse" href="#collapseTwo-magical-coder-auto-id-1564368891577" aria-expanded="true">信息列表 Information list</a>
	            </h4>
	        </div>
	        <div id="collapseTwo-magical-coder-auto-id-1564368891577" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
	            <div class="panel-body" style="height: auto;">
	
	                <div class="table-responsive">
	                	<table class="table" id="contractTable"></table>
						<table class="table" style="display: none">
							<thead>
								<tr class="">
									<th class=""><div style="width: 100px;">序号 number</div></th>
									<th class=""><div style="width: 100px;">流水号 Code</div></th>
									<th class=""><div style="width: 160px;">合同号contract
											code</div></th>
									<th class=""><div style="width: 180px;">签约单位
											Contract unit</div></th>
									<th class=""><div style="width: 180px;">性质分类
											Classification</div></th>
									<th class=""><div style="width: 180px;">创建时间
											Creation time</div></th>
									<th class=""><div style="width: 180px;">合同制作时间
											Contract date</div></th>
									<th class=""><div style="width: 180px;">版本号 version
											number</div></th>
									<th class=""><div style="width: 180px;">合同状态
											Contract status</div></th>
									<th class=""><div style="width: 180px;">签约人
											Customer manager</div></th>
									<th class=""><div style="width: 250px;">合同发送时间
											Contract delivery time</div></th>
									<th class=""><div style="width: 180px;">操作
											operation</div></th>
								</tr>
							</thead>
							<tbody>
								<tr class="">
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""><a href="/" class="" mc-ace="~"
										style="margin-right: 10px;">预览preview</a><a href="/" class="">导出export</a></td>
								</tr>
								<tr class="">
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""><a href="制作合同BPM.html" class=""
										style="margin-right: 10px;">制作making</a></td>
								</tr>
							</tbody>
						</table>
					</div>
	            </div>
	        </div>
	    </div>
	</div>

</div>

<!-- 同步合同状态对话框 -->
<div class="modal fade" id="refreshDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document" style="width: 240px;">
		<div class="modal-content">
			<div class="modal-header">
				<!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> -->
			</div>
			<div id="refreshDialogBody" class="modal-body">
				同步合同状态......
			</div>
		</div>
	</div>
</div>

<!-- 合同编辑对话框 -->
<div class="modal fade" id="contractDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document" style="width: 1250px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title" id="myModalLabel">合同信息 contract information</h4>
			</div>
			<div id="contractDialogBody" class="modal-body">
				<!-- 合同编辑内容 -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭 close</button>
				<button type="button" class="btn btn-primary" onclick="save();">保存 save</button>
			</div>
		</div>
	</div>
</div>

<div id="footer" class="container" th:replace="foot::foot"></div>
 <script th:inline="javascript" th:src="@{/pageJs/commonJs.js}"></script>
 <script type="text/javascript" src="../bootstrap-date/daterangepicker/moment.js"></script>
<script type="text/javascript" src="../bootstrap-date/daterangepicker/daterangepicker.js"></script>	  
<script type="text/javascript" src="../pageJs/main.js"></script>
<!-- Art Template -->
<script type="text/javascript" src="../js/template-web.js"></script>
<!-- // Art Template -->
<script>
var ctxPath  = [[@{/}]];
	var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
		showLeftPush = document.getElementById( 'showLeftPush' ),
		body = document.body;
		
	showLeftPush.onclick = function() {
		classie.toggle( this, 'active' );
		classie.toggle( body, 'cbp-spmenu-push-toright' );
		classie.toggle( menuLeft, 'cbp-spmenu-open' );
		disableOther( 'showLeftPush' );
	};
	

	function disableOther( button ) {
		if( button !== 'showLeftPush' ) {
			classie.toggle( showLeftPush, 'disabled' );
		}
	}
</script>	

<!-- 合同编辑对话框模板 -->
<script id="contract-edit-tpl" type="text/html">
<form id="contractForm">
<input type="hidden" name="id" value="{{id}}">
<input type="hidden" name="orderInfoId" value="{{orderInfoId}}">
<input type="hidden" name="version" value="{{version}}">
<input type="hidden" name="receiveType" value="{{receiveType}}" >
<input type="hidden" name="receiveTypeName" value="{{receiveTypeName}}" >
<input type="hidden" name="customerCode" value="{{customerCode}}" >
<input type="hidden" name="createTime" value="{{createTime}}" >
<input type="hidden" name="status" value="{{status}}" >
<input type="hidden" name="fileHashcode" value="{{fileHashcode}}" >
<input type="hidden" name="signContractid" value="{{signContractid}}" >
<div id="contract-edit-dialog-content" class="panel-group"
	role="tablist" aria-multiselectable="true"
	style="margin-bottom: 20px; margin-left: 50px; margin-right: 25px;">
	<div class="panel panel-default">
		<div class="panel-heading" role="tab">
			<h4 class="panel-title">
				<a role="button" data-toggle="collapse"
					href="#collapseOne-magical-coder-auto-id-1565148333801"
					aria-expanded="false" class="collapsed">基本信息</a>
			</h4>
		</div>
		<div id="collapseOne-magical-coder-auto-id-1565148333801"
			class="panel-collapse collapse in" role="tabpanel"
			aria-expanded="false">
			<div class="panel-body" style="height: auto;">
				<div class="row">
					<div class="col-md-3 col-xs-3">合同号（核算号）</div>
					<div class="col-md-3 col-xs-3">流水号</div>
					<div class="col-md-3 col-xs-3">签约单位</div>
					<div class="col-md-3 col-xs-3">合同金额</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="contractNumber"
							value="{{contractNumber}}" class="form-control" readonly>
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="sequenceNumber"
							value="{{sequenceNumber}}" class="form-control" readonly>
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="customerName"
							value="{{customerName}}" class="form-control" readonly>
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="contractRmbValue"
							value="{{contractRmbValue}}" class="form-control" readonly>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading" role="tab">
			<h4 class="panel-title">
				<a class="" role="button" data-toggle="collapse"
					href="#collapseTwo-magical-coder-auto-id-1565148324973"
					aria-expanded="true">合同信息</a>
			</h4>
		</div>
		<div id="collapseTwo-magical-coder-auto-id-1565148324973"
			class="panel-collapse collapse in" role="tabpanel"
			aria-expanded="true">
			<div class="panel-body" style="height: auto;">
				<div class="row">
					<div class="col-md-6 col-xs-6">收到需方预付款后几日内发货</div>
					<div class="col-md-6 col-xs-6">接货方式</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="deliveryDays" value="{{deliveryDays}}" 
							class="form-control" aria-describedby="emailHelp">
					</div>
					<div class="col-md-3 col-xs-3"></div>
					<div class="col-md-3 col-xs-3">
						<select name="receiveType" class="form-control input" disabled>
							<option value="01" {{if receiveType == '01'}}selected{{/if}}>盖章接货</option>
							<option value="02" {{if receiveType == '02'}}selected{{/if}}>授权人签字</option>
							<option value="03" {{if receiveType == '03'}}selected{{/if}}>其它</option>
						</select>
					</div>
				</div>
				<div class="row" style="margin-top: 2px;">
					<div class="col-md-3 col-xs-3">接货人1电话</div>
					<div class="col-md-3 col-xs-3">接货人1及身份证号</div>
					<div class="col-md-3 col-xs-3">接货人2电话</div>
					<div class="col-md-3 col-xs-3">接货人2及身份证号</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="contactor1Tel" value="{{contactor1Tel}}" 
							class="form-control" aria-describedby="emailHelp" readonly>
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="contactor1Id" value="{{contactor1Id}}" 
							class="form-control" aria-describedby="emailHelp" readonly>
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="contactor2Tel" value="{{contactor2Tel}}" 
							class="form-control" aria-describedby="emailHelp" readonly>
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="contactor2Id" value="{{contactor2Id}}"
							class="form-control" aria-describedby="emailHelp" readonly>
					</div>
				</div>
				<div class="row" style="margin-top: 2px;">
					<div class="col-md-3 col-xs-3">接货人3电话</div>
					<div class="col-md-3 col-xs-3">接货人3及身份证号</div>
					<div class="col-md-3 col-xs-3">* 终端客户名称</div>
					<div class="col-md-3 col-xs-3">* 实际安装地点</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="contactor3Tel"
							value="{{contactor3Tel}}" class="form-control"
							aria-describedby="emailHelp" readonly>
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="contactor3Id" value="{{contactor3Id}}"
							class="form-control" aria-describedby="emailHelp" readonly>
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="clientName" value="{{clientName}}"
							class="form-control" aria-describedby="emailHelp">
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="installLocation"
							value="{{installLocation}}" class="form-control"
							aria-describedby="emailHelp">
					</div>
				</div>
				<div class="row" style="margin-top: 2px;">
					<div class="col-md-3 col-xs-3">质量标准</div>
					<div class="col-md-6 col-xs-6">* 验收标准（方法）</div>
					<div class="col-md-3 col-xs-3">* 签约单位邮箱</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="installType" value="{{installTypeName}}" 
							class="form-control" aria-describedby="emailHelp" readonly>
					</div>
					<div class="col-md-6 col-xs-6">
						<select id="acceptanceCriteriaCode" name="acceptanceCriteriaCode" class="form-control input">
							<option value="" {{if acceptanceCriteriaCode == ''}}selected{{/if}}>-- 请选择 --</option>
							<option value="1001" {{if acceptanceCriteriaCode == '1001'}}selected{{/if}}>需方负责安装调试</option>
							<option value="1002" {{if acceptanceCriteriaCode == '1002'}}selected{{/if}}>供方负责安装调试</option>
						</select>
					</div>
					<div class="col-md-3 col-xs-3"> 
						<input type="text" name="customerEmail" value="{{customerEmail}}" class="form-control" aria-describedby="emailHelp">
					</div>
				</div>
				<div class="row" style="margin-top: 2px;">
					<div class="col-xs-6 col-md-12">结算方式</div>
					<div class="col-xs-6">
						<textarea name="paymentType" class="form-control" rows="3" readonly>{{paymentType}}</textarea>
					</div>
					<div class="col-xs-6"></div>
				</div>
				<div class="row" style="margin-top: 2px;">
					<div class="col-md-3 col-xs-3">发票邮寄地址</div>
					<div class="col-md-3 col-xs-3">邮编</div>
					<div class="col-md-3 col-xs-3">发票接收人</div>
					<div class="col-md-3 col-xs-3">联系电话</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="invoiceAddress" value="{{invoiceAddress}}" 
							class="form-control" aria-describedby="emailHelp">
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="invoicePostCode" value="{{invoicePostCode}}" 
							class="form-control" aria-describedby="emailHelp">
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="invoiceReceiver" value="{{invoiceReceiver}}" 
							class="form-control" aria-describedby="emailHelp">
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="invoiceTel" value="{{invoiceTel}}" 
							class="form-control" aria-describedby="emailHelp">
					</div>

				</div>
				<div class="row" style="margin-top: 2px;">
					<div class="col-md-3 col-xs-3">委托代理人</div>
					<div class="col-md-3 col-xs-3">公司电话</div>
					<div class="col-md-3 col-xs-3">开户银行</div>
					<div class="col-md-3 col-xs-3">银行账号</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="broker" value="{{broker}}" 
							class="form-control" aria-describedby="emailHelp">
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="companyTel" value="{{companyTel}}" 
							class="form-control" aria-describedby="emailHelp">
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="bankName" value="{{bankName}}" 
							class="form-control" aria-describedby="emailHelp">
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="accountNumber" value="{{accountNumber}}" 
							class="form-control" aria-describedby="emailHelp">
					</div>

				</div>
				<div class="row" style="margin-top: 2px;">
					<div class="col-md-9 col-xs-9">单位地址</div>
					<div class="col-md-3 col-xs-3">公司邮政编码</div>
					<div class="col-md-9 col-xs-9">
						<input type="text" name="companyAddress" value="{{companyAddress}}" 
							class="form-control" aria-describedby="emailHelp">
					</div>
					<div class="col-md-3 col-xs-3">
						<input type="text" name="companyPostCode" value="{{companyPostCode}}" 
							class="form-control" aria-describedby="emailHelp">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
</script>

<script>

/**序列化表单，多个value用数组存放**/
$.fn.serializeObject = function() {  
    var o = {};  
    var arr = this.serializeArray();  
    $.each(arr,function(){  
        if (o[this.name]) {  //返回json中有该属性
            if (!o[this.name].push) { //将已存在的属性值改成数组
                o[this.name] = [ o[this.name] ];
            }  
            o[this.name].push(this.value || ''); //将值存放到数组中
        } else {  //返回json中没有有该属性
            o[this.name] = this.value || '';  //直接将属性和值放入返回json中
        }  
    });  
    return o;  
}

//重置按钮事件
$('#reset').click(function() {
	$('#s_sequenceNumber').val("");
	$('#s_contractNumber').val("");
	$('#s_contractManager').val("");
	$('#s_customerName').val("");
	$('#s_createTime').val("");
	$('#s_createTime').val("");
	$('#s_status').val("");
});

$('#search').on('click',function(e){
	refresh();
});

$('#refreshstate').on('click',function(e){
	$("#refreshDialog").modal('show');
	$.ajax({
	    url: ctxPath + "contract/refreshState",
	    // data: '',
	    type: "PUT",
	    contentType: "application/json;charset=UTF-8",
	    // dataType: "json",
	    success: function(data) {
	    	$("#refreshDialog").modal('hide');
    		checkLogout(data);
	    	if(data == null || data.status != 'ok'){
	    		layer.alert("同步合同状态失败！" + (data != null ? data.msg : ""));
	    	}else{
	    		refresh();
	    	}      
	    }
	});
});

function refresh() {
	$('#contractTable').bootstrapTable('refresh', {
		url : ctxPath + "contract/"
	});
}

var contractCols = [ {
	field : 'id',
	visible : false
}, {
	field : 'orderInfoId',
	visible : false
}, {
	field : 'contractRmbValue',
	visible : false
}, {
	title : '序号 Number',
	width : '5%',
	visible : false,
	formatter: function(value, row, index) {
        var pageSize = $('#contractTable').bootstrapTable('getOptions').pageSize;     //通过table的#id 得到每页多少条
        var pageNumber = $('#contractTable').bootstrapTable('getOptions').pageNumber; //通过table的#id 得到当前第几页
        return pageSize * (pageNumber - 1) + index + 1;    // 返回每条的序号： 每页条数 *（当前页 - 1 ）+ 序号
    }
}, {
	field : 'sequenceNumber',
	title : '流水号 Code',
	width : '5%'
}, {
	field : 'contractNumber',
	title : '合同号Contract Code',
	width : '5%'
}, {
	field : 'customerCode',
	visible : false
}, {
	field : 'customerName',
	title : '签约单位 Contract Unit',
	width : '5%'
}, {
	field : 'customerClazz',
	visible : false
}, {
	field : 'customerClazzName',
	title : '性质分类 Classification',
	width : '5%'
}, {
	field : 'orderCreateTime',
	title : '创建时间 Creation Time',
	width : '5%'
}, {
	field : 'createTime',
	title : '合同制作时间 Contract Date',
	width : '5%'
}, {
	field : 'version',
	title : '版本号 Version Number',
	width : '5%'
}, {
	field : 'status',
	title : '合同状态 Contract Status',
	width : '5%',
	formatter: function(value, row, index) {
    	if(value == null){
    		return '合同未制作'
    	}else if(value == '01' || value == '02'){
    		return '合同已制作，待发送'
    	}else if(value == '03'){
    		return '合同已发送，待客户上传上上签'
    	}else if(value == '04'){
    		return '合同已上传上上签，待客户发起签署'
    	}else if(value == '05'){
    		return '客户已发起签署，待QHC确认'
    	}else if(value == '06'){
    		return '双方已签署'
    	}else{
    		return '合同未制作'
    	}
    }
}, {
	field : 'contractManager',
	title : '签约人 Customer Manager',
	width : '5%'
}, {
	field : 'sendTime',
	title : '合同发送时间 Contract Delivery Time',
	width : '5%'
},{
    title: '操作',
    align: 'center',
    width:'25%',
    formatter: function(value, row, index) {
    	var actions = [];
    	var contractId = row.id;
    	var status = row.status;
    	var productionTime = row.productionTime;
    	var exists = !(contractId == undefined || contractId == null || contractId == '');
    	if (!exists) {
			actions.push('<a class="btn" onclick="edit(\'' + index + '\')"><i class="fa fa-edit"></i>制作making</a> ');
    	} else {
    		if (status == '01') {
	    		actions.push('<a class="btn" onclick="edit(\'' + index + '\')"><i class="fa fa-edit"></i>编辑edit</a> ');
    		} else {
	    		actions.push('<a class="btn" onclick="edit(\'' + index + '\')"><i class="fa fa-edit"></i>重新编辑edit</a> ');
    		}
			actions.push('<a class="btn" onclick="view(\'' + index + '\')"><i class="fa fa-edit"></i>查看view</a> ');
    		/* actions.push('<a class="btn" href="' + ctxPath + 'contract/' + contractId + '/preview" target="_black"><i class="fa fa-remove"></i>预览preview</a>'); */
			actions.push('<a class="btn" href="' + ctxPath + 'contract/' + contractId + '/export" target="_blank"><i class="fa fa-edit"></i>导出export</a> ');
			//actions.push('<a class="btn" onclick="exportContract(\'' + index + '\')"><i class="fa fa-edit"></i>导出export</a> ');
			if (status == '01') {
				actions.push('<a class="btn" onclick="send(\'' + index + '\')"><i class="fa fa-edit"></i>发送send</a> ');
			}
			if (status == '05') {
				actions.push('<a class="btn" onclick="sign(\'' + index + '\')"><i class="fa fa-edit"></i>签署sign</a> ');
			}
    	}
		return actions.join('');
    }
} ];

// 初始化合同列表
$('#contractTable').bootstrapTable({
	method : 'get',
	url : ctxPath + "contract/",//请求路径
	striped : true, //是否显示行间隔色
	toolbar: '#toolbar',
	cache: false,
	pagination: true,                   //是否显示分页（*）
    sortable: true,                     //是否启用排序
    clickToSelect: true,               //是否启用点击选中行
    sortOrder: "asc",                   //排序方式
	pageNumber : 1, //初始化加载第一页
	pagination : true,//是否分页
	sidePagination : 'server',//server:服务器端分页|client：前端分页
	pageSize : 10,//单页记录数
	pageList : [ 10, 20, 30 ],//可选择单页记录数
	showRefresh : false,//刷新按钮
	queryParams : function (params) {
		return {
			/* id:'', */
//			offset : params.offset, // SQL语句起始索引
	    	pageSize: params.limit, // 每页显示数量
	    	pageNo: (params.offset / params.limit) + 1,  //当前页码
			sequenceNumber: $('#s_sequenceNumber').val(),
			contractNumber: $('#s_contractNumber').val(),
			contractManager: $('#s_contractManager').val(),
			customerName: $('#s_customerName').val(),
			createTime: $('#s_createTime').val(),
			createTime: $('#s_createTime').val(),
			status: $('#s_status').val()
		};
	},
	responseHandler : function(res){
		checkLogout(res);
		if (res.status != 'ok') {
			layer.alert(res.msg);
			return {};
		}
		return {
			total: res.data.total,
			rows: res.data.rows
		}
	},
	formatNoMatches:function(){
        return "<h2>没有匹配的数据</h2>";
    }, 
	columns : contractCols
});

// 新增或编辑合同
function edit(index) {
	var row = $('#contractTable').bootstrapTable('getData')[index];
	var contractId = row.id;
	var customerCode = row.customerCode;
	var contract = {};
	
	if (contractId) {
		$.ajax({
		    url: ctxPath + "contract/" + contractId,
		    // data: '',
		    type: "GET",
		    contentType: "application/json;charset=UTF-8",
		    // dataType: "json",
		    success: function(data) {
	    		checkLogout(data);
		    	if(data == null || data.status != 'ok'){
		    		layer.alert("查询合同信息失败！" + (data != null ? data.msg : ""));
		    	}else{
		    		// console.log(data.data)
		    		contract = data.data;
		    		contract.isedit = true;
		    		// setEditInfo(row, contract);
		    		showEditModal(contract);
		    	}      
		    }
		});		
	} else {
		// 取客户最后一次合同信息
		$.ajax({
		    url: ctxPath + "contract/last/" + customerCode,
		    // data: '',
		    type: "GET",
		    contentType: "application/json;charset=UTF-8",
		    // dataType: "json",
		    success: function(data) {
	    		checkLogout(data);
		    	if(data == null || data.status != 'ok'){
		    	}else{
		    		var c = data.data;
		    		if (c) {
		    			contract.customerEmail = c.customerEmail;
		    			contract.invoiceAddress = c.invoiceAddress;
		    			contract.invoicePostCode = c.invoicePostCode;
		    			contract.invoiceReceiver = c.invoiceReceiver;
		    			contract.invoiceTel = c.invoiceTel;
		    			contract.broker = c.broker;
		    			contract.companyTel = c.companyTel;
		    			contract.bankName = c.bankName;
		    			contract.accountNumber = c.accountNumber;
		    			contract.companyAddress = c.companyAddress;
		    			contract.companyPostCode = c.companyPostCode;
		    		}
		    	} 
				setEditInfo(row, contract);
				contract.isedit = true;
				showEditModal(contract);
		    }
		});	
	}
}

//显示合同编辑对话框
function showEditModal(contract) {	
	var html = template('contract-edit-tpl', contract);
	$("#contractDialogBody").html(html);
	
	if (!contract.isedit) {
		$(":input", "#contractForm").each(function(index,element) {
			$(element).attr('disabled', true);
		});
	}
	// initValidator();
	$("#contractDialog").modal('show');
}

//将行记录中属于订单的信息设置到合同中
function setEditInfo(row, contract) {
	contract.orderInfoId = row.orderInfoId;
	contract.contractNumber = row.contractNumber;
	contract.sequenceNumber = row.sequenceNumber;
	contract.customerName = row.customerName;
	contract.contractRmbValue = row.contractRmbValue;
	contract.version = row.version;
	contract.customerCode = row.customerCode;
	contract.customerName = row.customerName;
	contract.receiveType = row.receiveType;
	contract.installType = row.installType;
	contract.orderCreateTime = row.orderCreateTime;
	contract.contractManager = row.contractManager;
	contract.contactor1Id = row.contactor1Id;
	contract.contactor1Tel = row.contactor1Tel;
	contract.contactor2Id = row.contactor2Id;
	contract.contactor2Tel = row.contactor2Tel;
	contract.contactor3Id = row.contactor3Id;
	contract.contactor3Tel = row.contactor3Tel;
}

// 保存合同信息
function save() {
	var json = $('#contractForm').serializeObject();
	json.partyaName='abc';
	json.mail=json.customerMail;
	
	/*var bootstrapValidator = $("#contractForm").data('bootstrapValidator');
    bootstrapValidator.validate();
    if(!bootstrapValidator.isValid()){
    	return;
    }*/
	
	if ($.trim(json.customerEmail) == ''){
		layer.alert('签约单位邮箱不能为空！');
		return;
	}
	if ($.trim(json.acceptanceCriteriaCode) == ''){
		layer.alert('验收标准（方法）不能为空！');
		return;
	}
	if ($.trim(json.installLocation) == ''){
		layer.alert('实际安装地点不能为空！');
		return;
	}
	if ($.trim(json.clientName) == ''){
		layer.alert('终端客户名称不能为空！');
		return;
	}
	if ($.trim(json.deliveryDays) == ''){
		layer.alert('收到需方预付款后几日内发货不能为空！');
		return;
	}
	if (!/^[1-9]\d*$/.test($.trim(json.deliveryDays))){
		layer.alert('收到需方预付款后几日内发货必须是有效的数字！');
		return;
	}
	
	var url = ctxPath + "contract/";
	layer.confirm('是否发送邮件？', {
		  btn: ['是', '否'] //可以无限个按钮
		  /* ,btn1: function(index, layero){
			//按钮【按钮一】的回调
		    url = url + "send";
		  },btn2: function(index, layero){
		    //按钮【按钮二】的回调
		  } */
		},
		function(index, layero){
			//按钮【按钮一】的回调
		    url = url + "send";
			save2(url, json);
		},
	    function(index, layero){
		    //按钮【按钮二】的回调
			save2(url, json);
		});
}

function save2(url, json) {
	$.ajax({
	    url: url,
	    data: JSON.stringify(json),
	    type: "POST",
	    contentType: "application/json;charset=UTF-8",
	    success: function(data) {
    		checkLogout(data);
	    	if(data == null || data.status != 'ok') {
	    		layer.alert("操作失败！" + (data != null ? data.msg : ""));
	    	}else{
	    		layer.alert("保存合同信息成功！");
	    		$("#contractDialog").modal('hide');
	    		refresh();
	    	}      
	    },
        error: function (res) {
        	layer.alert("提交失败: "+jQuery.parseJSON(res.responseText).message);
        },
	    dataType: "json"
	});
}

/* function exportContract(index) {
	var row = $('#contractTable').bootstrapTable('getData')[index];	
	var contractId = row.id;
	var contract = {};
	
	var url = ctxPath + "contract/" + contractId + "/export";
	
    var a = document.createElement("a");// 创建a标签
    a.target = "_blank"; // 每次点击一次都打开新的窗口；
    // a.download = "a.pdf";// 设置下载文件的文件名
    a.href = url;// content为后台返回的下载地址
    a.click();// 设置点击事件 
} */

//查看
function view(index) {
	var row = $('#contractTable').bootstrapTable('getData')[index];	
	var contractId = row.id;
	var contract = {};
	
	$.ajax({
	    url: ctxPath + "contract/" + contractId,
	    // data: '',
	    type: "GET",
	    // dataType: "json",
	    success: function(data) {
    		checkLogout(data);
	    	if(data == null || data.status != 'ok'){
	    		layer.alert("查询合同信息失败！" + (data != null ? data.msg : ""));
	    	}else{
	    		// console.log(data.data)
	    		contract = data.data;
	    		// setEditInfo(row, contract);
	    		showEditModal(contract);
	    	}      
	    }
	});		
}

/**
 * 发送合同文档给客户
 */
function send(index) {
	var row = $('#contractTable').bootstrapTable('getData')[index];	
	var contractId = row.id;
	var contract = {};
	
	var url = ctxPath + "contract/" + contractId + "/send";
	
	$.ajax({
	    url: url,
	    data: JSON.stringify(contract),
	    type: "PUT",
	    contentType: "application/json;charset=UTF-8",
	    success: function(data) {
    		checkLogout(data);
	    	if(data == null || data.status != 'ok') {
	    		layer.alert("发送合同失败！" + (data != null ? data.msg : ""));
	    	}else{
	    		layer.alert("发送合同成功！");
	    		refresh();
	    	}      
	    },
        error: function (res) {
        	layer.alert("发送失败: "+jQuery.parseJSON(res.responseText).message);
        },
	    dataType: "json"
	});
}

//签署
function sign(index) {
	var row = $('#contractTable').bootstrapTable('getData')[index];	
	var contractId = row.id;
	var contract = {};
	
	$.ajax({
	    url: ctxPath + "contract/" + contractId + "/sign",
	    // data: '',
	    type: "PUT",
	    // dataType: "json",
	    success: function(data) {
    		checkLogout(data);
	    	if(data == null || data.status != 'ok'){
	    		layer.alert("签署合同给客户失败！" + (data != null ? data.msg : ""));
	    	}else{
	    		// console.log(data.data)
	    		contract = data.data;
	    		// setEditInfo(row, contract);
	    		showEditModal(contract);
	    	}      
	    }
	});		
}

function initValidator() {
	$('#contractForm').bootstrapValidator({
		message: 'This value is not valid',
		feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
			clientName: {
				validators: {
					notEmpty: {
						message: '终端客户名称不能为空'
					}
				}
			},
			installLocation: {
				validators: {
					notEmpty: {
						message: '实际安装地点不能为空'
					}
				}
			},
			acceptanceCriteriaCode: {
				validators: {
					notEmpty: {
						message: '验收标准（方法）不能为空'
					}
				}
			},
			/*partyaCode: {
				validators: {
					notEmpty: {
						message: '公司邮政编码不能为空'
					}
				}
			},*/
			customerEmail: {
				validators: {
					notEmpty: {
						message: '签约单位邮箱不能为空'
					}
				}
			},
			deliveryDays: {
				validators: {
					notEmpty: {
						message: '预付款后几日内发货不能为空'
					},
					regexp: {
						regexp: /^[1-9]\d*$/,
						message: '只能输入正整数'
					}
				}
			}
		}
	});
}
</script>	
<!--scrolling js-->
<script src="../js/jquery.nicescroll.js"></script>
<script src="../js/scripts.js"></script>
<!--//scrolling js-->

<!-- side nav js -->
<script src='../js/SidebarNav.min.js' type='text/javascript'></script>
<script>
$('.sidebar-menu').SidebarNav()
  
$(document).ready(function() {
	$('#s_createTime').daterangepicker( {
			autoUpdateInput:true,
			endDate: moment(new Date()), //设置结束器日期
			maxDate: moment(new Date()).add('days', 1), //设置最大日期
			startDate: moment().subtract('days', 7),  //这里配置的起止时间将会决定在ranges中默认选中哪个时间段
			endDate: moment()
		}, 
		function(start, end, label) {
			// $('#s_createTime').html(start.format('YYYY-MM-DD HH:mm:ss') + ' - ' + end.format('YYYY-MM-DD HH:mm:ss'));
			console.log(start.toISOString(), end.toISOString(), label);
		}
	);
	$('#s_orderCreateTime').daterangepicker( {
			autoUpdateInput:true,
			endDate: moment(new Date()), //设置结束器日期
			maxDate: moment(new Date()).add('days', 1), //设置最大日期
			startDate: moment().subtract('days', 7),  //这里配置的起止时间将会决定在ranges中默认选中哪个时间段
			endDate: moment()
		}, function(start, end, label) {
	    	console.log(start.toISOString(), end.toISOString(), label);
		});
	}
);

  
</script>
</body>
</html>