<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div  class="container" th:fragment="materialconfig">
    	<div class="modal fade" id="materialconfigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:100%">
			<div class="modal-content">
			<div class="modal-body">
			<input type="hidden" id="materialConfigClazzCode">
			<input type="hidden" id="materialConfigCode">
			<input type="hidden" id="rowNum">
			<input type="hidden" id="configIndex">
			<div id="accordion-magical-coder-auto-id-1564722843467" class="panel-group" role="tablist" aria-multiselectable="true" style="margin-top: 2%; margin-left: 5%; margin-right: 4%;">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" href="#collapseOne-magical-coder-auto-id-1564722835059" aria-expanded="true" class="">基本信息</a>
						</h4>
					</div>
					<div id="collapseOne-magical-coder-auto-id-1564722835059" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">				
						<div class="panel-body" style="height: auto;" mc-ace="~">

							<div class="row">

								<div class="col-md-3 col-xs-3">
									合同号
								</div>
								<div class="col-md-3 col-xs-3">
									合同名称
								</div>
								<div class="col-md-3 col-xs-3">
									产品型号
								</div>
								<div class="col-md-3 col-xs-3">
									商标要求
								</div>
							</div>
							<div class="row">
								<div class="col-md-3 col-xs-3">
									<input type="text" class="form-control" readonly id="configContractNumber">
								</div>
								<div class="col-md-3 col-xs-3">
									<input type="text" class="form-control" readonly id="configContractName">
								</div>
								<div class="col-md-3 col-xs-3">
									<input type="text" class="form-control" readonly>
								</div>
								<div class="col-md-3 col-xs-3">
									<input type="text" class="form-control" readonly>
								</div>
							</div>
							<div class="row" style="margin-top: 3px;">

								<div class="col-md-3 col-xs-3">
									木包装要求
								</div>
								<div class="col-md-3 col-xs-3">
									铭牌要求
								</div>
								<div class="col-md-3 col-xs-3">
									电路图要求
								</div>
								<div class="col-md-3 col-xs-3">
									专用号
								</div>
							</div>
							<div class="row" style="margin-top: 3px;">
								<div class="col-md-3 col-xs-3">
									<input type="text" class="form-control" readonly>
								</div>
								<div class="col-md-3 col-xs-3">
									<input type="text" class="form-control" readonly>
								</div>
								<div class="col-md-3 col-xs-3">
									<input type="text" class="form-control" readonly>
								</div>
								<div class="col-md-3 col-xs-3">
								<input type="text" class="form-control" readonly id="configMaterialCode">
								</div>
							</div>
							<div class="row" style="margin-top: 3px;">
								<div class="col-md-3 col-xs-3">
									规格型号
								</div>
							</div>
							<div class="row" style="margin-top: 3px;">
								<div class="col-md-3 col-xs-3">
								<input type="text" class="form-control" readonly id="configMaterialTypeName">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="" role="button" data-toggle="collapse" href="#collapseTwo-magical-coder-auto-id-1564722838816" aria-expanded="true">选项</a>
						</h4>
					</div>
				<form action="" id="materialConfigForm">
					<div id="collapseTwo-magical-coder-auto-id-1564722838816" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">

						<div class="panel-body" style="height: auto;color:black">

							<div class="row">
								<div class="col-xs-6 col-md-9" style="height: auto;">
									<div class="table-responsive">
										<table class="table" id="configTable" style="table-layout:fixed;word-break:break-all;">
											
										</table>
									</div>
								</div>
								<div class="col-xs-6 col-md-3" style="height: auto;">
									<div class="row">
										<div class="col-xs-6 col-md-12">
											备注
										</div>
										<div class="col-xs-6 col-md-12">
											<textarea class="form-control" rows="3" name="configRemark" id="configRemark"></textarea>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-6 col-md-12">
											拼接图
										</div>
										<div class="col-xs-6 col-md-12">
											<textarea class="form-control" rows="3" name="mosaicImage" id="mosaicImage"></textarea>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-6 col-md-12">
											拼接图附件
										</div>
										<div class="col-xs-6 col-md-12">
											<input id="item_f_upload" type="file" class="file" data-show-remove="false" data-show-preview="false" data-language="zh" data-upload-url="/st/order/upload" th:if="${orderType!=4}"/>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
										</div>
										<div class="col-md-12" >
											<table id="itemFileList" data-pagination="false"  class="table table-hover"></table>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">										
											<button type="button" class="btn btn-info" onclick="viewConfigPrice('view')">查看物料</button>
										</div>
										<div class="col-md-6" style="display:none" id="viewError">										
											<font color="red">查看物料失败</font>
										</div>
									</div>
									<div id="moreConfig" style="display:none">
									<div class="row">
										<span class="col-md-8 control-label">专用号</span>
									</div>
									<div class="row">
										<div class="col-md-8">										
											<input type="text" class="form-control" id="viewCode" readonly>
										</div>
									</div>
									<div class="row">
										<span class="col-md-8 control-label">可选项转移价价差</span>
									</div>
									<div class="row">
										<div class="col-md-8">										
											<input type="text" class="form-control" id="viewOptionalTransactionPrice" readonly>
										</div>
									</div>
									<div class="row">
										<span class="col-md-8 control-label">可选项标准价价差</span>
									</div>
									<div class="row">
										<div class="col-md-8">										
											<input type="text" class="form-control" id="viewOptionalStandardPrice"readonly>
										</div>
									</div>
									<div class="row">
										<span class="col-md-8 control-label">可选项零售价价差</span>
									</div>
									<div class="row">
										<div class="col-md-8">										
											<input type="text" class="form-control" id="viewOptionalRetailPrice" readonly>
										</div>
									</div>
									<!-- <div class="row">
										<div class="col-md-12">										
											<a href="standardDiscount" target="_blank"><strong>点击查看对比项</strong></a>
										</div>
									</div> -->
									</div>
								</div>
							</div>
						</div>
						
					</div>
					</form>
				</div>
			</div>
			<div class="row" style="margin-left: 5%; margin-right: 5%;">
				<div class="col-xs-6">
					<button type="button" class="btn btn-danger" style="margin-left: 3%; margin-right: 5px;" onclick="resetStandardConfiguration()" th:if="${orderOperationType=='1'||orderOperationType=='3'}">一键还原标准配置</button>
				</div>
				<div class="col-xs-6">
					<button type="button" class="btn pull-right btn-warning" style="margin-right: 0%; margin-left: 5px;" onclick="closeMaterialConfig()">关闭</button>
					<button type="button" class="btn pull-right btn-success" id="" onclick="saveMaterialConfig()" th:if="${orderOperationType=='1'||orderOperationType=='3'}">保存</button>
				</div>
			</div>		
			</div>
		    </div>
		</div>
	</div>
</div>
</body>
</html>