<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div  class="container" th:fragment="subsidiary(orderType)">
    	<div class="modal fade" id="subsidiaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:1200px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="">×</span></button>
					<h4 class="modal-title" id="myModalLabel">新增购销明细</h4>
				</div>
				<div class="modal-body">
				  <form id="subsidiaryForm">
					<input type="hidden" id="materialsModalType">
					<input type="hidden" id="materialClazzCode">
					<input type="hidden" id="isConfigurable">
					<input type="hidden" id="standardPrice">
					<input type="hidden" id="index">
					<input type="hidden" id="rowNumber">
					<div class="panel-group">
						<div class="panel-body">
							<div class="row">
								<span class="col-md-1 control-label">规格</span>
							    <div class="col-md-2">
							    <div class="input-group">
				                    <input type="text" class="form-control" disabled id="materialTypeName">
				                    <span class="input-group-btn">
				                        <button id="showCustomer" class="btn btn-primary" type="button" onclick="searchSpecification()">
				                        	<span class="glyphicon glyphicon-search"></span>
				                        </button>
				                    </span>
				                </div>
				                </div>
							    <span class="col-md-1">专用号</span>
								<div class="col-md-2">
								<div class="input-group">
							      <input type="text" class="form-control" id="materialCode" disabled>
							      <span class="input-group-btn">
				                        <button class="btn btn-primary" type="button" onclick="searchSpecification()">
				                        	<span class="glyphicon glyphicon-search"></span>
				                        </button>
				                    </span>
							    </div>
							    </div>
							    <span class="col-md-1">物料属性</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="isPurchased" disabled>
							    </div>
							    <input type="hidden"  id="purchasedCode" disabled>
							    <span class="col-md-1">类型</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="materialGroupName" disabled>
							      <input type="hidden" id="groupCode">
							    </div>
							</div>
							<div class="row" style="margin-top: 20px;">
							    <span class="col-md-1">数量</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="amount" name ="amount" oninput="amountChange()">
							    </div>
							    <span class="col-md-1">计量单位</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="unitName" disabled>
							    </div>
							    <input type="hidden" id="unitCode">
							    <span class="col-md-1">产品实卖价</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="acturalPrice" disabled>
							    </div>
							    <span class="col-md-1">产品实卖金额</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="acturalPriceAmount" disabled>
							    </div>
							</div>
							<div class="row" style="margin-top: 20px;">
							    <span class="col-md-1">产品转移价</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="transcationPrice" disabled>
							    </div>
							    <span class="col-md-1">可选项实卖价</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="acturalPricaOfOptional" disabled>
							    </div>
							    <span class="col-md-1">可选项实卖金额</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="acturalPricaOfOptionalAmount" disabled>
							    </div>
							    <span class="col-md-1">可选项转移价</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="transcationPriceOfOptional" disabled>
							    </div>
							</div>
							<div class="row" style="margin-top: 20px;">
							    <span class="col-md-1">B2C预估价</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="B2CPriceEstimated" oninput="getB2CAmount(this)">
							    </div>
							    <span class="col-md-1">B2C预估金额</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="B2CPriceEstimatedAmount" disabled>
							    </div>
							    <span class="col-md-1">B2C预估成本</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="B2CCostOfEstimated" disabled>
							    </div>
							    <span class="col-md-1">实卖价合计</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="acturalPriceTotal" disabled>
							    </div>
							</div>
							<div class="row" style="margin-top: 20px;">
							    <span class="col-md-1">实卖金额合计</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="acturalPriceAmountTotal" disabled>
							    </div>
							    <span class="col-md-1">转移价合计</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="transcationPriceTotal" disabled>
							    </div>
							    <span class="col-md-1">市场零售价</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="retailPrice" disabled>
							    </div>
							    <span class="col-md-1">市场零售金额</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="retailPriceAmount" disabled>
							    </div>
							</div>
							<div class="row" style="margin-top: 20px;">
							    <span class="col-md-1">折扣率</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="discount" th:attr="disabled=${orderDetail.stOrderType!='2'}">
							    </div>
							    <span class="col-md-1">行项目类别</span>
								<div class="col-md-2">
							      <select class="form-control" name="itemCategory" id="itemCategory">
									</select>
							    </div>
							    <span class="col-md-1">需求计划</span>
								<div class="col-md-2">
							      <select class="form-control" name="itemRequirementPlan" id="itemRequirementPlan">
							      	<option value="004">物料需求计划</option>
							      	<option value="001">B2C</option>
							      	<option value="002">消化</option>
							      	<option value="003">调发</option>
								  </select>
							    </div>
							    <span class="col-md-1">生产周期</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="producePeriod" disabled>
							    </div>
							</div>
							<div class="row" style="margin-top: 20px;">
							    <span class="col-md-1">工厂最早交货时间</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="deliveryDate" disabled>
							    </div>
							    <span class="col-md-1">生产开始时间</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="produceDate" disabled>
							    </div>
							    <span class="col-md-1">要求发货时间</span>
								<div class="col-md-2">
								<div class="input-group">
										<input id="shippDate" class="form-control" type="text" data-date-format="yyyy-mm-dd">
	               						<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
               					</div>
							    </div>
							    <span class="col-md-1">地址</span>
								<div class="col-md-2">
								    <div class="input-group">
					                    <input type="text" class="form-control" disabled id="materialAddress" name="materialAddress">
					                    <span class="input-group-btn">
					                        <button id="showAddress" class="btn btn-primary" type="button" onclick="addMaterialAddress()" th:attr="disabled=${orderType==5}">
					                        	<span class="glyphicon glyphicon-search"></span>
					                        </button>
					                    </span>
					                </div>
							    </div>
							</div>
							<div class="row" style="margin-top: 20px;">
							    <span class="col-md-1">入库时间</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="onStoreDate" disabled>
							    </div>
							    <span class="col-md-1">采购周期</span>
								<div class="col-md-2">
							      <input type="text" class="form-control" id="purchasePeriod" disabled>
							    </div>
							</div>
							<div class="row">
								<span class="col-md-1">特殊备注</span>
								<div class="col-md-5">
							       <textarea class="form-control" rows="2" id="specialRemark"></textarea>
							    </div>
							    <span class="col-md-1">颜色备注</span>
								<div class="col-md-5">
							       <textarea class="form-control" rows="2" id="colorComments"></textarea>
							    </div>
							</div>
							<div class="row">
								<span class="col-md-1">B2C备注</span>
								<div class="col-md-11">
							      <textarea class="form-control" rows="2" id="b2cRemark" oninput="setItemRequirementPlan(this)"></textarea>
							    </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
								<button type="button" class="btn btn-primary" onclick="confirmMaterials()" id="confirmMaterial">确定</button>
							</div>
						</div>
					</div>
					</form>
				</div>
		    </div>
		</div>
	</div>
	<div class="modal fade" id="specificationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width:800px;">
				<div class="modal-content" style="height">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="">×</span></button>
						<h4 class="modal-title" id="myModalLabel">请选择规格</h4>
					</div>
					<div class="modal-body" >
						<div class="panel-group">
							<div class="panel-body">
								<div class="row">
									<span class="col-md-2">规格型号</span>
									<div class="col-md-6">
								      <input type="text" class="form-control" id="materialsName">
								    </div>
								    <button type="button" class="btn btn-primary" onclick="searchMaterilType()">
								    	<span class="glyphicon glyphicon-search">查询</span>
								    </button>
								</div>
								<table id="materialTypeTable" data-pagination="true"   class="table table-hover"></table>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
		
		<div class="modal fade" id="materialAddressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<input type="hidden"  id="materialProvinceCode">
			<input type="hidden"  id="materialProvinceName">
			<input type="hidden"  id="materialCityCode">
			<input type="hidden"  id="materialCityName">
			<input type="hidden"  id="materialAreaCode">
			<input type="hidden"  id="materialAreaName">
			<input type="hidden"  id="materialModalAddress">
			<input type="hidden"  id="deliveryAddressSeq">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="">×</span></button>
						<h4 class="modal-title">请选择地址</h4>
					</div>
					<div class="modal-body">
						<div class="panel-group">
							<div class="panel-body">
								<div class="row">
								    <table id="materialAddressTable" data-pagination="false"   class="table table-hover"></table>
								</div>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</div>
</div>
</body>
</html>