<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>订单公共模板</title>
</head>
<body>
	<!--不同订单中模板不同的地方通过传参数控制  -->
	
	<!-- 头部路径  -->
	<div th:fragment="path(mainPath,subPath)">
		<nav>
		 	<ol class="breadcrumb">
		 		<li class="breadcrumb-item"><a href="#" th:text="${mainPath}"></a></li>
		 		<li class="breadcrumb-item"><a href="#" th:text="${subPath}"></a></li>
		   </ol>		
		</nav>    	
	</div>
	
	<!-- 展开收缩按钮 -->
	<div th:fragment="expandButton">
		<div class="row navbar-fixed-top" style="margin-top: 70px;">
			<div class="col-xs-12 col-md-6"></div>
			<div class="col-xs-12 col-md-6">
				<div class="btn-group pull-right" role="group">
					<button type="button" class="btn btn-primary btn-sm" style="color: rgb(227, 197, 197); background-color: rgb(124, 168, 207);" onclick="$('.collapse').collapse('show')" id="expandBt">
						<i class="glyphicon glyphicon-plus"></i>
					</button>
					<button type="button" class="btn btn-warning btn-sm" mc-ace="~" style="background-color: rgb(237, 163, 54);" onclick="$('.collapse').collapse('hide')" id="closeBt">
						<i class="glyphicon glyphicon-minus"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 客户基本信息  -->	
	<div th:fragment="customerBasicInfo(orderType)">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#customerBasicInfo" aria-expanded="true" class="">客户基本信息 Basic information</a>
				</h4>
			</div>
			<div id="customerBasicInfo" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
				<div class="panel-body" style="height: auto;">

					<div class="row">
						<span class="col-md-1 control-label">签约单位</span>
					    <div class="col-md-2">
					    <div class="input-group">
		                    <input type="text" class="form-control" disabled id="customerName" th:field="*{customerName}">
		                    <input type="hidden" id="customerCode" th:field="*{customerCode}">
		                    <input type="hidden" id="customerIndustryCode" th:field="*{customerIndustryCode}">
		                    <span class="input-group-btn">
		                        <button id="showCustomer" class="btn btn-primary" type="button" onclick="openSearchCustomer()">
		                        	<span class="glyphicon glyphicon-search"></span>
		                        </button>
		                    </span>
		                </div>			                
		                
					    </div>
					    <span class="col-md-1 control-label">性质分类</span>
						<div class="col-md-2">
					      		<input type="text" class="form-control" id="customerClazzName" readonly th:field="*{customerClazzName}">
								<input type="hidden" id="customerClazz" th:field="*{customerClazz}">
					    </div>
					    <span class="col-md-1 control-label">店名</span>
						<div class="col-md-2">
						      	<input type="text" class="form-control" id="shopName" th:field="*{shopName}">
						      	<input type="hidden" id="createTime" th:field="*{createTime}">
					    </div>
						<span class="col-md-1 control-label">项目报备编号</span>
						<div class="col-md-2">
					      <input type="text" class="form-control" id="recordCode" th:if="${orderType!=4 && orderType!=5}" th:field="*{recordCode}">
							<input type="text" class="form-control" readonly id="recordCode" th:if="${orderType==4 || orderType==5}" th:field="*{recordCode}">
						</div>
					</div>
					<div class="row" style="margin-top: 15px;">
						<span class="col-md-1 control-label">客户经理</span>
						<div class="col-md-2">
					      <input type="text" class="form-control" id="salesName" readonly th:field="*{salesName}">
					      <input type="hidden"  name="salesCode" id="salesCode" th:field="*{salesCode}">
					    </div>
					    <span class="col-md-1 control-label">客户经理电话</span>
						<div class="col-md-2">
					      <input type="text" class="form-control" id="salesTel" th:field="*{salesTel}">
					    </div>
				    	<span class="col-md-1  control-label">是否改造店</span>
						<div class="col-md-2">
					      <select class="form-control" th:if="${orderType!=5}" th:field="*{isReformed}">
								<option value="1" class="">是</option>
								<option value="0" class="">否</option>
							</select>
							<select class="form-control" readonly disabled th:if="${orderType==5}" th:field="*{isReformed}">
								<option value="1" class="">是</option>
								<option value="0" class="">否</option>
							</select>
					    </div>
						<span class="col-md-1 control-label" th:if="${orderType!=4 && orderType!=5}">终端客户性质</span>
						<div class="col-md-2" th:if="${orderType!=4 && orderType!=5}">
					      <select class="form-control" id="industryCode"  th:field="*{terminalType}">
								<option value="0001">MNC（国际连锁）</option>
								<option value="0002">Local top 100-国内连锁百强</option>
								<option value="0004">Local others（本地其他）</option>
						  </select>
					    </div>
						<span class="col-md-1 control-label" th:if="${orderType==4 || orderType==5}">是否年采客户</span>
						<div class="col-md-2" th:if="${orderType==4 || orderType==5}">
							<select class="form-control"  disabled th:field="*{isYearpurchase}">
								<option value="1" class="">是</option>
								<option value="0" class="">否</option>
							</select>
						</div>
					    <input type="hidden" id="customerIndustryName" th:field="*{customerIndustryName}">
					</div>
					<div class="row" style="margin-top: 15px;">
						<span class="col-md-1 control-label">是否便利店</span>
						<div class="col-md-2">
					      <select class="form-control" th:if="${orderType!=5}" th:field="*{isConvenientStore}">
								<option value="1" class="">是</option>
								<option value="0" class="">否</option>
							</select>
							<select class="form-control" readonly disabled th:if="${orderType==5}" th:field="*{isConvenientStore}">
								<option value="1" class="">是</option>
								<option value="0" class="">否</option>
							</select>
					    </div>
					    <span class="col-md-1 control-label">是否新客户</span>
						<div class="col-md-2">
					      <select class="form-control" th:if="${orderType!=5}" th:field="*{isNew}">
								<option value="1" class="">是</option>
								<option value="0" class="">否</option>
							</select>
							<select class="form-control" readonly disabled th:if="${orderType==5}" th:field="*{isNew}">
								<option value="1" class="">是</option>
								<option value="0" class="">否</option>
							</select>
					    </div>
						<span class="col-md-1 control-label" th:if="${orderType==4}">隶属关系</span>
						<div class="col-md-2" th:if="${orderType==4}">
							<input type="text" class="form-control" id="customerIndustryName" readonly th:field="*{customerIndustryName}">
						</div>
						<span class="col-md-1 control-label" th:if="${orderType==4}">客户分类</span>
						<div class="col-md-2" th:if="${orderType==4}">
							<input type="text" class="form-control" id="customerIndustryCodeName" readonly th:field="*{customerIndustryCodeName}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 合同基本信息 -->
	<div th:fragment="contractBasicInfo(orderType)">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<a class="" role="button" data-toggle="collapse" data-parent="#accordion1" href="#contractBasicInfomation" aria-expanded="true">合同基本信息 Contract basic information</a>
				</h4>
			</div>
			<div id="contractBasicInfomation" class="panel-collapse collapse in" role="tabpanel" aria-expanded="false">
				<div class="panel-body" style="height: auto;">

					<div class="row">
						<span class="col-md-1 control-label">流水号</span>
						<div class="col-md-2">
					      <input type="text" class="form-control" id="sequenceNumber" aria-describedby="emailHelp" th:field="*{sequenceNumber}" readonly>
					    </div>
					    <span class="col-md-1 control-label" th:if="${orderType!=4}" >合同号</span>
						<div class="col-md-2" th:if="${orderType!=4}">
							<input type="text" class="form-control" aria-describedby="emailHelp"  th:field="*{contractNumber}" th:attr="readonly=${orderDetail.status!='03'}" oninput="contractToUpperCase(this)" maxlength="10">
					    </div>
						<span class="col-md-1 control-label" th:if="${orderType==4}">核算号</span>
						<div class="col-md-2" th:if="${orderType==4}">
							<input type="text" class="form-control" aria-describedby="emailHelp"  th:field="*{contractNumber}" readonly>
						</div>
					    <span class="col-md-1 control-label">销售类型</span>
						<div class="col-md-2">
							<select class="form-control" th:onchange="salesTypeChange(this,[[${order_option.offices}]],[[${order_option.taxRate}]],[[${order_option.exchangeRate}]])" th:field="*{saleType}" id="saleType">
								<option value="">--请选择--</option>
								<option th:each="type : ${order_option.saleTypes}" th:value="${type.key}" th:text="${type.value}"></option>	
							</select>
					    </div>
					    <span class="col-md-1 control-label">税率</span>
						<div class="col-md-2">
							<select class="form-control"  id="taxRate"  th:field="*{taxRate}">
							</select>
						</div>
					</div>
					<div class="row" style="margin-top: 15px;">
						<span class="col-md-1 control-label">合同金额（凭证货币）</span>
						<div class="col-md-2">
							<input type="text" class="form-control" id="orignalContractAmount"aria-describedby="emailHelp" readonly th:field="*{contractValue}">
					    </div>
					    <input type="hidden" id="contractValue" th:value="*{contractValue}">
					    <span class="col-md-1 control-label">币种</span>
						<div class="col-md-2">
							<select class="form-control"  id="currency" th:onchange="getExchangeRate(this,[[${order_option.exchangeRate}]])" disabled th:field="*{currency}">
							    <option value="">--选择币种--</option>
							</select>
					    </div>
					    <input type="hidden" id="currencyName"  th:value="*{currency}">
					    <span class="col-md-1 control-label">原币合同金额（CNY）</span>
						<div class="col-md-2">
							<input type="text" class="form-control" id="contractAmount" readonly aria-describedby="emailHelp" th:if="${orderType!=4}" th:field="*{contractRmbValue}">
							<input type="text" class="form-control" id="contractAmount" aria-describedby="emailHelp" th:if="${orderType==4}" th:field="*{contractRmbValue}">
						</div>
					    <input type="hidden" id="contractRmbValue" th:value="*{contractRmbValue}">
					    <span class="col-md-1 control-label">购销明细金额合计</span>
						<div class="col-md-2">
							<input type="text" class="form-control" id="itemsAmount" th:if="${orderType!=5}" readonly name="itemsAmount">
							<input type="text" class="form-control" id="itemsAmount" th:if="${orderType==5}" readonly disabled>
					    </div>	
					</div>
					<div class="row" style="padding-top: 10px;">
						<span class="col-md-1 control-label">汇率</span>
						<div class="col-md-2">
							<input type="text" class="form-control" id="exchangeRate" aria-describedby="emailHelp" readonly name="currencyExchange">
					    </div>
					    <span class="col-md-1 control-label">国际贸易条件</span>
						<div class="col-xs-12 col-md-1" style="padding-right: 1px;">
							<select class="form-control" id="incoterm" disabled th:field="*{incoterm}">
							     <option value=""></option>
								<option th:each="com : ${order_option.intercoms}" th:value="${com.key}" th:text="${com.value}"></option>
							</select>
							<input type="hidden" id="incotermItem"  th:value="*{incoterm}">
						</div>
						<input type="hidden" id="incotermName" th:field="*{incotermName}">
						<div class="col-xs-12 col-md-1" style="padding-left: 1px;">
							<input type="text" class="form-control"readonly id="incotermContect" th:field="*{incotermContect}">
						</div>
						<span class="col-md-1 control-label">合同管理员</span>
						<div class="col-md-2">
							<input type="text" class="form-control" aria-describedby="emailHelp" readonly th:field="*{contractManager}">
					    </div>
					    <span class="col-md-1 control-label">录入日期</span>
					    <div class="col-md-2">
							<input type="text" class="form-control" id="inputDate" aria-describedby="emailHelp" readonly th:field="*{contractCreateTime}">
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 合同详细信息 -->
	<div th:fragment="contractDetailInfo(orderType)">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#contractDetailInfo" aria-expanded="true" class="">合同详细信息 Contract details</a>
				</h4>
			</div>
			<div id="contractDetailInfo" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
				<div class="panel-body" style="height: auto;">
	
					<div class="row">
					 	<span class="col-md-1 control-label">大区</span>
						<div class="col-md-2">
							<select class="form-control" id="officeSelect" th:onchange="getGroups(this,[[${order_option.groups}]])" th:field="*{officeCode}">
								<option value="">--选择大区--</option>
							</select>
					    </div>
					    <input type="hidden" th:value="*{officeCode}" id="officeCode">
					    <span class="col-md-1 control-label">中心</span>
						<div class="col-md-2">
							<select class="form-control" id="selectGroup" th:field="*{groupCode}">
								<option value="">--选择中心--</option>
							</select>
					    </div>
					    <input type="hidden" id="groupCode" th:value="*{groupCode}">
					    <span class="col-md-1 control-label">保修年限(年)</span>
						<div class="col-md-2">
							<input type="text" class="form-control" id="warrenty" value="1" aria-describedby="emailHelp" name="warranty" readonly>
					    </div>
					    <span class="col-md-1 control-label">安装方式</span>
						<div class="col-md-2">
							<input type="text" class="form-control" id="installTypeName" aria-describedby="emailHelp" readonly th:field="*{installTypeName}">
							<input type="hidden" id="installType" th:field="*{installType}">
					    </div>
					</div>
					<div class="row">
					  <div class="col-md-1">
					  	<span class="control-label"><strong>地址信息</strong></span>
					  </div>
					  <div class="col-md-11">
					  	<table class="table table-bordered table-hover" style="table-layout:fixed;word-break:break-all;" id="addressTable" data-pagination="false" ></table>
					  </div>
						</div>  
					<div class="row" style="margin-top: 15px;">
						<span class="col-md-1 control-label">收货方式</span>
						<div class="col-md-2">
							<select class="form-control" id="receiveType" th:field="*{receiveType}">
								<option th:each="receiveTerm : ${order_option.receiveTerms}" th:value="${receiveTerm.key}" th:text="${receiveTerm.value}"></option>
							</select>
					    </div>
					    <input type="hidden" id="receiveTypeName" th:field="*{receiveTypeName}">
						<span class="col-md-1 control-label">运输方式</span>
						<div class="col-md-2">
							<select class="form-control" id="transferType" th:field="*{transferType}">
								<option th:each="shippingType : ${order_option.shippingTypes}" th:value="${shippingType.key}" th:text="${shippingType.value}"></option>
							</select>
							<input type="hidden" id="transferTypeName" th:field="*{transferTypeName}">
					    </div>
					    <span class="col-md-1 control-label" th:if="${orderType!=4}">标准折扣</span>
						<div class="col-md-2">
							<input type="text" class="form-control" id="standardDiscount" readonly th:if="${orderType!=4}" th:value="${order_option.standardDiscount}">
					    </div>
					    <div id="freightDiv" style="display:none;">
						    <span class="col-md-1 control-label">外销运费</span>
							<div class="col-md-2">
								<input type="text" class="form-control" aria-describedby="emailHelp" id="freight" th:field="*{freight}"><!-- th:field="*{freight}" -->
						    </div>
					    </div>				
					</div>
					<div class="row" style="margin-top: 15px;">
						<span class="col-md-1 control-label">授权人1及身份证号</span>
						<div class="col-md-5">
							<input type="text" class="form-control" id="contactor1Id" aria-describedby="emailHelp" th:field="*{contactor1Id}"><!-- th:field="*{contactor1Id}" -->
					    </div>
					    <span class="col-md-1 control-label">授权人1电话</span>
						<div class="col-md-5">
							<input type="text" class="form-control" id="contactor1Tel" aria-describedby="emailHelp" th:field="*{contactor1Tel}"><!-- th:field="*{contactor1Tel}"  -->
					    </div>
					</div>
					<div class="row" style="margin-top: 15px;">
						<span class="col-md-1 control-label">授权人2及身份证号</span>
						<div class="col-md-5">
							<input type="text" class="form-control" id="contactor2Id" aria-describedby="emailHelp" th:field="*{contactor2Id}">
					    </div>
					    <span class="col-md-1 control-label">授权人2电话</span>
						<div class="col-md-5">
							<input type="text" class="form-control" id="contactor2Tel" aria-describedby="emailHelp" th:field="*{contactor2Tel}">
					    </div>
					</div>
					<div class="row" style="margin-top: 15px;">
						<span class="col-md-1 control-label">授权人3及身份证号</span>
						<div class="col-md-5">
							<input type="text" class="form-control" id="contactor3Id" aria-describedby="emailHelp" th:field="*{contactor3Id}">
					    </div>
					    <span class="col-md-1 control-label">授权人3电话</span>
						<div class="col-md-5">
							<input type="text" class="form-control" id="contactor3Tel" aria-describedby="emailHelp" th:field="*{contactor3Tel}">
					    </div>
					</div>
					<div class="row" style="margin-top: 15px;" th:if="${orderType==4}">
						<span class="col-md-1 control-label">是否全部为散件</span>
						<div class="col-md-2">
							<select class="form-control" th:field="*{isBulkCargo}">
								<option value="1" class="">是</option>
								<option value="0" class="">否</option>
							</select>
						</div>
						<span class="col-md-1 control-label">不可预估项</span>
						<div class="col-md-2">
							<input type="text" class="form-control" id="unpredictable" th:field="*{unpredictable}">
						</div>
					</div>
					<div class="row" style="margin-top: 15px;" th:if="${orderType} eq 2">
						<span class="col-md-1 control-label">批准折扣</span>
						<div class="col-md-2">
							<input type="text" class="form-control" id="approveDiscount" aria-describedby="emailHelp" name="approveDiscount" disabled>
					    </div>
					    <span class="col-md-1 control-label">柜体申请折扣</span>
						<div class="col-md-2">
							<div class="input-group">
								<input type="text" class="form-control" id="bodyDiscount" aria-describedby="emailHelp" name="bodyDiscount">
								<span class="input-group-btn">
			                        <button id="bodyDiscountButton" class="btn btn-primary btn-flat" type="button" title="应用" onclick="applyBodyDiscount()">
			                        	<span class="glyphicon glyphicon-ok"></span>
			                        </button>
			                    </span>
			                </div>
						</div>
					    <span class="col-md-1 control-label">机组申请折扣</span>
						<div class="col-md-2">
							<div class="input-group">
								<input type="text" class="form-control" id="mainDiscount" aria-describedby="emailHelp" name="mainDiscount">
								<span class="input-group-btn">
			                        <button id="mainDiscountButton" class="btn btn-primary btn-flat" type="button" title="应用" onclick="applyMainDiscount()">
			                        	<span class="glyphicon glyphicon-ok"></span>
			                        </button>
			                    </span>
			                 </div>
					    </div>
						    <span class="col-md-1 control-label">合并折扣</span>
							<div class="col-md-2">
								<input type="text" class="form-control" id="orderDiscount" aria-describedby="emailHelp" readonly>
						    </div>
					</div>
					<div class="row" style="margin-top: 15px;" th:if="${orderType} eq 2">
						<span class="col-md-1 control-label">是否为长期折扣</span>
						<div class="col-md-2">
					      <select class="form-control" th:filed="*{isLongterm}" id='isLongterm' onchange="isLongtermChange(this)">								
								<option value="0" class="">否</option>
								<option value="1" class="">是</option>
							</select>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--结算方式  -->
	<div th:fragment="paymentType(orderType)">
		<div class="panel panel-default" th:if="${orderType!=3&&orderType!=4}">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#paymentMethod" aria-expanded="false">结算方式 Method of payment</a>
				</h4>
			</div>
			<div id="paymentMethod" class="panel-collapse collapse in" role="tabpanel" aria-expanded="false" >
				<div class="panel-body" style="height: auto;">
						 <div class="row">
						 	<span class="col-md-2 control-label">结算方式</span>
							<div class="col-md-10">
								<select class="form-control" id="paymentType" th:field="*{paymentType}">
									<option th:each="payment : ${order_option.dealerPaymentTerms}" th:value="${payment.key}" th:text="${payment.value}"></option>
								</select>
					   		 </div>
						 </div>
				</div>
			</div>
		</div>
		<div class="panel panel-default" th:if="${orderType==3||orderType==4}">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#paymentMethod" aria-expanded="false">结算方式 Method of payment</a>
				</h4>
			</div>
			<div id="paymentMethod" class="panel-collapse collapse in" role="tabpanel" aria-expanded="false" >
				<div class="panel-body" style="height: auto;">
						 <div class="row">
						 	<span class="col-md-2 control-label">结算方式</span>
							<div class="col-md-10">
								<textarea class="form-control" rows="2" id="paymentType" th:field="*{paymentType}"></textarea>
					   		 </div>
						 </div>
				</div>
			</div>
			<!-- <div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#paymentMethod" aria-expanded="false">结算方式 Method of payment</a>
				</h4>
			</div>
			<div id="paymentMethod" class="panel-collapse collapse in" role="tabpanel" aria-expanded="false" >
				<div class="panel-body" style="height: auto;">
						 <div class="row">
						 	<span class="col-md-2 control-label">结算方式</span>
							<div class="col-md-10">
								<select class="form-control" name="paymentType"> th:field="*{confirmTypeCode}"
									<option th:each="payment : ${order_option.paymentType}" th:value="${payment.key}" th:text="${payment.value}"></option>
								</select>
					   		 </div>
						 </div>
					<div class="row" style="margin-bottom: 15px;">
						<div class="col-xs-12 col-md-12">
							结算方式 Method of payment
						</div>
						<div class="col-xs-12 col-md-12">
							<span class="text-info" id="paymentArea"></span>
						</div>
					</div>
					<div class="container" id="box" style="width:100%;">
					  <table class="table table-bordered table-hover" style="table-layout:fixed;word-break:break-all;" id="paymentTable" data-pagination="false" ></table>
						</div>
				</div>
			</div> -->
		</div>
	</div>
	
	<!-- 购销明细  -->
	<div th:fragment="purchaseAndSubsidisry(orderType)">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<a class="" role="button" data-toggle="collapse"  data-parent="#accordion1" href="#purchaseDetail" aria-expanded="true">购销明细 Purchase and sale subsidiary</a>
				</h4>
			</div>
			<div id="purchaseDetail" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
				<div class="panel-body" style="height: auto;">
					<div class="row">
						<div class="col-xs-12 col-md-4">
							柜体控制阀件是否甲供
						</div>
						<div class="col-xs-12 col-md-4">
							分体柜是否远程监控
						</div>
						<div class="col-xs-12 col-md-4">
							立柜柜体是否在地下室
						</div>
						<div class="col-xs-12 col-md-4">
							<select class="form-control" th:field="*{isTerm1}">
								<option value="1">是</option>
								<option value="0">否</option>
							</select>
						</div>
						<div class="col-xs-12 col-md-4">
							<select class="form-control" th:field="*{isTerm2}">
								<option value="1">是</option>
								<option value="0">否</option>
							</select>
						</div>
						<div class="col-xs-12 col-md-4">
							<select class="form-control" th:field="*{isTerm3}">
								<option value="1">是</option>
								<option value="0">否</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-md-3">
							工厂最早交货时间 delivery time
						</div>
						<div class="col-xs-9 col-md-9">
							要求发货时间 Required delivery time
						</div>
						<div class="col-xs-3 col-md-3">
							<input type="text" class="form-control" id="deliveryTime" aria-describedby="emailHelp" readonly th:field="*{earliestProductDate}">
						</div>
						<div class="col-xs-3 col-md-3">
								<input id="requiredDeliveryTime" class="form-control" type="text" readonly th:field="*{earliestDeliveryDate}">
						</div>
						<div class="col-xs-3 col-md-3"></div>
						<div class="col-xs-3 col-md-3">
							<select class="form-control" id="version" th:if="${orderType!=4}">
							</select>
						</div>
					</div>
					<div class="row">
	
	
					</div>
					<div class="row" style="margin-top: 15px;">
	
	
					</div>
	
					<div class="magicalcoder-tmp-wrap" >
						<ul class="nav nav-tabs" role="tablist" id="tablist">
							<li role="presentation" class=""><a href="#all" id="first" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true" class="">购销明细</a></li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<div class="table-responsive">
								<table class="table text-nowrap" id="materialsTable"></table>
							</div>
						</div>
	
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-12">
							备注 Remark
						</div>
						<div class="col-xs-12 col-md-12">
							<textarea class="form-control" rows="3" th:field="*{comments}"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--信息查看  -->
	<div th:fragment="viewInfo">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#infoCheck" aria-expanded="true" class="">信息查看 Check the information</a>
				</h4>
			</div>
			<div id="infoCheck" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
				<div class="panel-body" style="height: auto;" mc-ace="~">
					<div class="row">
						<div class="col-md-3">
							<button type="button" class="btn btn-primary btn-sm" id="showGrossProfitBt" onclick="viewGrossProfit()">
								查看毛利表 Gross profit table
							</button>
						</div>
						<div class="col-md-3">
							<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" th:attr="disabled=${orderDetail.status!='05'}" data-target="#magicalcoderMyModal-magical-coder-auto-id-1565064088178">
								查看合同 Look at the contract
							</button>
						</div>
						<div class="col-md-3" style="text-align: left;">
							客户确认资料 Customer data
						</div>
						<div class="col-md-3">
							<input id="f_upload" type="file" class="file" data-show-remove="false" data-show-preview="false" data-language="zh" data-upload-url="/st/order/upload" th:if="${orderType!=4}"/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
						</div>
						<div class="col-md-6" >
							<table id="fileList" data-pagination="false"  class="table table-hover"></table>
						</div>
					</div>
					<div class="modal fade" id="noContractModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
									<h4 class="modal-title" id="myModalLabel">合同信息 contract information</h4>
								</div>
								<div class="modal-body">
									还没制作合同 We haven't made the contract yet
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">关闭 close</button>
									<button type="button" class="btn btn-primary">保存 save</button>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="grossProfit" tabindex="-1" role="dialog">
						<div class="modal-dialog" role="document" style="width:1000px">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="">×</span></button>
									<h4 class="modal-title" id="myModalLabel">毛利表信息</h4>
								</div>
								<div class="modal-body">
									<div id="accordion-magical-coder-auto-id-1564367406503" class="panel-group" role="tablist" aria-multiselectable="true" style="margin-top: 0px; margin-left: 5px; margin-right: 5px;">
											<div class="panel panel-default">
												<div class="panel-heading" role="tab">
													<h4 class="panel-title">
														<a role="button" data-toggle="collapse" data-parent="#accordion-magical-coder-auto-id-1564367406503" href="#collapseOne-magical-coder-auto-id-1564367403401" aria-expanded="true" class="">基本信息</a>
													</h4>
												</div>
												<div id="collapseOne-magical-coder-auto-id-1564367403401" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
													<div class="panel-body" style="height: auto;">
	
													<div class="row">
											<div class="col-md-3 col-xs-3">需求流水号</div>
											<div class="col-md-3 col-xs-3">合同号</div>
											<div class="col-md-3 col-xs-3">合同名称</div>
											<div class="col-md-3 col-xs-3">合同金额</div>
											<div class="col-md-3 col-xs-3">
												<input type="text" class="form-control" aria-describedby="emailHelp" id="grossSeqNum" disabled>
											</div>
											<div class="col-md-3 col-xs-3">
											 	<input type="text" class="form-control" aria-describedby="emailHelp" disabled>
											 </div>
											 <div class="col-md-3 col-xs-3">
											 	<input type="text" class="form-control" aria-describedby="emailHelp" disabled>
											 </div>
											 <div class="col-md-3 col-xs-3">
											 	<input type="text" class="form-control" aria-describedby="emailHelp" id="grossContractRMBValue" disabled>
											 </div>
										</div><div class="row" style="margin-top: 4px;">
											<div class="col-xs-6 col-md-3">性质分类</div>
											<div class="col-xs-6 col-md-3">版本号</div>
	                                                 <div class="col-xs-6 col-md-3">操作人</div>
	                                                 <div class="col-xs-6 col-md-3">操作时间</div>
	                                                 <div class="col-xs-6 col-md-3">
	                                                 	<input type="text" class="form-control"  id="grossClazz" disabled>
	                                                 </div>
	                                                 <div class="col-xs-6 col-md-3">
	                                                     <input type="text" class="form-control"  disabled id="grossVersion">
	                                                 </div>
	                                                 <div class="col-xs-6 col-md-3">
	                                                     <input type="text" class="form-control"  id="grossPerson" disabled>
	                                                 </div>
	                                                 <div class="col-xs-6 col-md-3">
	                                                     <input type="text" class="form-control" id="grossDate" disabled>
	                                                 </div>
	                                             </div>
	                                             </div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading" role="tab">
													<h4 class="panel-title">
														<a class="" role="button" data-toggle="collapse" data-parent="#accordion-magical-coder-auto-id-1564367406503" href="#collapseTwo-magical-coder-auto-id-1564367403394" aria-expanded="true">
															毛利信息
														</a>
													</h4>
												</div>
												<div id="collapseTwo-magical-coder-auto-id-1564367403394" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
													<div class="panel-body" style="height: auto;">
													<div class="table-responsive">
														<table class="table" id="grossProfitTable">
														</table>
													</div>
													
												</div>
												</div>
											</div>
										</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal" id="grossProfitCloseBt">关闭</button>
									<button type="button" class="btn btn-primary" id="grossProfitExportBt"  onclick="exportGross()">导出</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--信息查看 For ViewInfoForDirectCustomer  -->
	<div th:fragment="viewInfoForDirectCustomer">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#infoCheck" aria-expanded="true" class="">信息查看 Check the information</a>
				</h4>
			</div>
			<div id="infoCheck" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
				<div class="panel-body" style="height: auto;" mc-ace="~">
					<div class="row">
						<div class="col-md-3">
							<button type="button" class="btn btn-primary btn-sm" id="showGrossProfitBt" onclick="viewGrossProfit()">
								查看毛利表 Gross profit table
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--是否特批发货 -->
	<div th:fragment="specialShipment">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#specialShipment" aria-expanded="true" class="">特批发货  Urgent Delivery</a>
				</h4>
			</div>
			<div id="specialShipment" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
				<div class="panel-body" style="height: auto;" mc-ace="~">
					<div class="row">
						<div class="col-md-3">
							<input type="checkbox" id="specialShipmentValue" style="zoom:150%;" />是否特批发货
							<input type="hidden" th:field="*{isUrgentDelivery}" id="isUrgentDelivery" />
						</div>
						<div class="col-md-3">
							<input type="checkbox" id="isSpecialOrderValue" style="zoom:150%;"/>是否特批下单
							<input type="hidden" th:field="*{isSpecialOrder}" id="isSpecialOrder"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<!--信息查看 For ViewInfoForStockUp  -->
	<div th:fragment="ViewInfoForStockUp">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#infoCheck" aria-expanded="true" class="">信息查看 Check the information</a>
				</h4>
			</div>
			<div id="infoCheck" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
				<div class="panel-body" style="height: auto;" mc-ace="~">
					<div class="row">
						<div class="col-md-3">
							<button type="button" class="btn btn-primary btn-sm" disabled id="showGrossProfitBt" onclick="viewGrossProfit()">
								查看毛利表 Gross profit table
							</button>
						</div>
						<div class="col-md-3">
							<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" th:attr="disabled=${orderDetail.status!='05'}" onclick="viewContract()">
								查看合同 Look at the contract
							</button>
						</div>
						<div class="col-md-3" style="text-align: left;">
							客户确认资料 Customer data
						</div>
						<div class="col-md-3">
							<input id="f_upload" type="file" class="file" data-show-remove="false" data-show-preview="false" data-language="zh" data-upload-url="/st/order/upload" th:if="${orderType!=4}"/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
						</div>
						<div class="col-md-6" >
							<table id="fileList" data-pagination="false"  class="table table-hover"></table>
						</div>
					</div>
					<div class="modal fade" id="magicalcoderMyModal-magical-coder-auto-id-1565064088178" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
									<h4 class="modal-title" id="myModalLabel">合同信息 contract information</h4>
								</div>
								<div class="modal-body">
									还没制作合同 We haven't made the contract yet
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">关闭 close</button>
									<button type="button" class="btn btn-primary">保存 save</button>
								</div>
							</div>
						</div>
					</div>
					<div class="modal fade" id="grossProfit" tabindex="-1" role="dialog">
						<div class="modal-dialog" role="document" style="width:1000px">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="">×</span></button>
									<h4 class="modal-title" id="myModalLabel">毛利表信息</h4>
								</div>
								<div class="modal-body">
									<div id="accordion-magical-coder-auto-id-1564367406503" class="panel-group" role="tablist" aria-multiselectable="true" style="margin-top: 0px; margin-left: 5px; margin-right: 5px;">
										<div class="panel panel-default">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse" data-parent="#accordion-magical-coder-auto-id-1564367406503" href="#collapseOne-magical-coder-auto-id-1564367403401" aria-expanded="true" class="">基本信息</a>
												</h4>
											</div>
											<div id="collapseOne-magical-coder-auto-id-1564367403401" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
												<div class="panel-body" style="height: auto;">

													<div class="row">
														<div class="col-md-3 col-xs-3">需求流水号</div>
														<div class="col-md-3 col-xs-3">合同号</div>
														<div class="col-md-3 col-xs-3">合同名称</div>
														<div class="col-md-3 col-xs-3">合同金额</div>
														<div class="col-md-3 col-xs-3">
															<input type="text" class="form-control" aria-describedby="emailHelp" id="grossSeqNum" disabled>
														</div>
														<div class="col-md-3 col-xs-3">
															<input type="text" class="form-control" aria-describedby="emailHelp" disabled>
														</div>
														<div class="col-md-3 col-xs-3">
															<input type="text" class="form-control" aria-describedby="emailHelp" disabled>
														</div>
														<div class="col-md-3 col-xs-3">
															<input type="text" class="form-control" aria-describedby="emailHelp" id="grossContractRMBValue" disabled>
														</div>
													</div><div class="row" style="margin-top: 4px;">
													<div class="col-xs-6 col-md-3">性质分类</div>
													<div class="col-xs-6 col-md-3">版本号</div>
													<div class="col-xs-6 col-md-3">操作人</div>
													<div class="col-xs-6 col-md-3">操作时间</div>
													<div class="col-xs-6 col-md-3">
														<input type="text" class="form-control"  id="grossClazz" disabled>
													</div>
													<div class="col-xs-6 col-md-3">
														<input type="text" class="form-control"  disabled id="grossVersion">
													</div>
													<div class="col-xs-6 col-md-3">
														<input type="text" class="form-control"  id="grossPerson" disabled>
													</div>
													<div class="col-xs-6 col-md-3">
														<input type="text" class="form-control" id="grossDate" disabled>
													</div>
												</div>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
													<a class="" role="button" data-toggle="collapse" data-parent="#accordion-magical-coder-auto-id-1564367406503" href="#collapseTwo-magical-coder-auto-id-1564367403394" aria-expanded="true">
														毛利信息
													</a>
												</h4>
											</div>
											<div id="collapseTwo-magical-coder-auto-id-1564367403394" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
												<div class="panel-body" style="height: auto;">
													<div class="table-responsive">
														<table class="table" id="grossProfitTable">
														</table>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal" id="grossProfitCloseBt">关闭</button>
									<button type="button" class="btn btn-primary" id="grossProfitExportBt" onclick="exportGross()">导出</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--附件信息-->
	<div th:fragment="viewAttachmentInformation">
		<div class="panel panel-default">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#attachmentInformationCheck" aria-expanded="true" class="">附件信息 Attachment Information</a>
				</h4>
			</div>
			<div id="attachmentInformationCheck" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
				<div class="row" style="margin-right: 10px;margin-bottom: 10px;">
					<div class="col-md-2" style="text-align: center;color: #686868;">
						客户合同：
					</div>
					<div class="col-md-4">
						<input id="f_upload" type="file" class="file" data-show-remove="false" data-show-preview="false" data-language="zh" data-upload-url="/st/order/upload"/>
					</div>
					<div class="col-md-2" style="text-align: center;color: #686868;">
						商务招标方案：
					</div>
					<div class="col-md-4">
						<input id="f_upload" type="file" class="file" data-show-remove="false" data-show-preview="false" data-language="zh" data-upload-url="/st/order/upload"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 底部Button  -->
	<div th:fragment="footerButton" style="margin-top: 10px">
		<button type="button" class="btn pull-right btn-success" style="margin-left: 25px; margin-right: 25px;" onclick="saveOrder()" th:if="${orderOperationType=='1'||orderOperationType=='3'}" id="saveButton">保存 save</button>
		<button type="button" class="btn btn-primary pull-right" style="margin-left: 30px;" onclick="saveOrder('submit')" th:if="${orderOperationType=='1'||(orderOperationType=='3'&&(orderDetail.status=='00'||orderDetail.status=='02'))}" id="submitButton">提交 submit</button>
		<button type="button" class="btn btn-primary pull-right" style="margin-left: 30px;" onclick="goBpm()" th:if="${orderOperationType=='3'&&orderDetail.status=='03'}" id="bpmSubmitButton">提交 BPM</button>
		<button type="button" class="btn btn-primary pull-right" style="margin-left: 30px;" onclick="saveOrder('submit')" th:if="${orderOperationType=='3'&&orderDetail.status=='01'}" id="b2cSubmitButton">提交B2c</button>
		<button type="button" class="btn btn-primary pull-right" style="margin-left: 30px;" onclick="reject()" th:if="${orderOperationType=='3'&&(orderDetail.status=='01'||orderDetail.status=='03')}" id="b2cRejectButton">驳回</button>
		<button type="button" class="btn pull-right btn-warning" id="backButton" onclick="history.go(-1)">返回 back</button>
	</div>
</body>
</html>