<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)"   th:with="portUrl=${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'}">
    <meta charset="utf-8"/>
    <title th:text="${title}"></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" th:href="@{|${portUrl}assets/vendor/bootstrap/css/bootstrap.min.css|}">
	<link rel="stylesheet" th:href="@{|${portUrl}assets/vendor/font-awesome/css/font-awesome.min.css|}">
	<link rel="stylesheet" th:href="@{|${portUrl}assets/vendor/linearicons/style.css|}">
	<link rel="stylesheet" th:href="@{|${portUrl}assets/vendor/chartist/css/chartist-custom.css|}">
	<link rel="stylesheet" th:href="@{|${portUrl}assets/vendor/toastr/toastr.min.css|}">
	<link rel="stylesheet" th:href="@{|${portUrl}assets/css/build.css|}" >
	<link rel="stylesheet" th:href="@{|${portUrl}assets/css/bootstrap-select.min.css|}" >
	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{|${portUrl}assets/css/main.css|}">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" th:href="@{|${portUrl}assets/css/demo.css|}">
	<!-- GOOGLE FONTS -->
	<link th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700}" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{|${portUrl}assets/img/apple-icon.png|}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{|${portUrl}assets/img/favicon.png|}">
	<script th:src="@{|${portUrl}assets/vendor/jquery/jquery.min.js|}"></script>
	<script th:src="@{|${portUrl}assets/vendor/bootstrap/js/bootstrap.min.js|}"></script>
	<script th:src="@{|${portUrl}assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js|}"></script>
	<script th:src="@{|${portUrl}assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js|}"></script>
	<script th:src="@{|${portUrl}assets/vendor/chartist/js/chartist.min.js|}"></script>
	<script th:src="@{|${portUrl}assets/scripts/klorofil-common.js|}"></script>	
	<script th:src="@{|${portUrl}assets/vendor/toastr/toastr.min.js|}"></script>		
</head>

</html>