<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="sticky-header header-section " th:fragment="head">
			<div class="header-left">
				<!--toggle button start-->
				<button id="showLeftPush"><i class="fa fa-bars "></i></button>
				<!--toggle button end-->
				<div class="profile_details_left"><!--notifications of menu start -->
					
				
						<div class="btn-group" style="margin-top: 15px;margin-bottom:10px;font-size:12px;"> 
						</div>
				</div>
				<!--notification menu end -->
				<div class="clearfix"> </div>
			</div>
			<div class="header-right" style="margin-right: 35px;">
			<div class="profile_details">		
					<ul>
						<li class="dropdown profile_details_drop">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<div class="profile_img">	
									<span></span> 
									<div class="user-name">
										<img src="images/user1.png" class="img-circle">
										<span th:text="${session.userIdentity}"></span>
									</div>
									<i class="fa fa-angle-down lnr"></i>
									<i class="fa fa-angle-up lnr"></i>
									<div class="clearfix"></div>	
								</div>	
							</a>
							<ul class="dropdown-menu drp-mnu">
								<li> <a href="#"><i class="fa fa-user"></i> <span id="userName" >userIdentity</span></a> </li> 
								<li> <a href="#"><i class="fa fa-suitcase"></i><span id="userIdentity" >userName</span></a> </li> 
								<li> <a href="#"><i class="fa fa-cog"></i><span id="userRoles">roles</span></a> </li>
							</ul>
						</li>
					</ul>
				</div>
				
				
				<div class="clearfix"> </div>				
			</div>
			<div class="clearfix"> </div>	
		</div>
		
</body>
</html>