<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="sticky-header header-section " th:fragment="head">
			<div class="header-left">
				<!--toggle button start-->
				<button id="showLeftPush"><i class="fa fa-bars "></i></button>
				<!--toggle button end-->
				<div class="profile_details_left"><!--notifications of menu start -->
					
				
						<div class="btn-group" style="margin-top: 15px;margin-bottom:10px;font-size:12px;"> 
						</div>
				</div>
				<!--notification menu end -->
				<div class="clearfix"> </div>
			</div>
			<div class="header-right" style="margin-right: 25px;">
			<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span th:text="${session.userIdentity}"></span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span id="userId" style="color:#F2B33F">My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span id="userName" style="color:#F2B33F">userName</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span id="userIdentity" style="color:#F2B33F">userIdentity</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span id="userRoles" style="color:#F2B33F">roles</span></a></li>
							</ul>
						</li>
					</ul>
				</div>			
				
				<div class="clearfix"> </div>				
			</div>
			<div class="clearfix"> </div>	
		</div>
		
</body>
</html>