<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
		<!--left-fixed -navigation-->
		<aside class="sidebar-left">
      <nav class="navbar navbar-inverse">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            
            </button>
            <h1><a class="navbar-brand" href="index.html"><span class="dashboard_text"></span></a></h1>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="sidebar-menu">
               <li class="treeview">
                <a href="index.html">
                <i class="fa fa-dashboard"></i> 
				<span>待办任务</span>
				<span style="font-size:12px">To-do tasks</span>
				<i class="fa fa-angle-left pull-right"></i>
                </a>
				<ul class="treeview-menu">
                  <li><a href="待办任务BPM.html"><i class="fa fa-angle-right"></i> <span>待办任务</span><span style="font-size:12px">To-do tasks</span></a></li>
                </ul>
              </li>
              <li class="treeview">
                <a href="index.html">
                <i class="fa fa-dashboard"></i> 
				<span>新建订单</span>
				<span style="font-size:12px">Create Order</span>
				<i class="fa fa-angle-left pull-right"></i>
                </a>
				<ul class="treeview-menu">
                  <li><a href="主界面BPM.html"><i class="fa fa-angle-right"></i><span>新建订单</span><span style="font-size:12px">Create Order</span></a></li>
                </ul>
              </li>
			 
			   <li class="treeview">
                <a href="index.html">
                <i class="fa fa-dashboard"></i> 
				<span>订单管理</span>
				<span style="font-size:12px">Order</span>
				<i class="fa fa-angle-left pull-right"></i>
                </a>
				<ul class="treeview-menu">
                  <li><a href="我的订单BPM.html"><i class="fa fa-angle-right"></i><span>订单管理</span> <span style="font-size:12px">Order Management</span></a></li>
                </ul>
              </li>
			  <li class="treeview">
                <a href="#">
                <i class="fa fa-laptop"></i>
                <span>合同管理 </span>
				<span style="font-size:12px">Contract</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="我的合同BPM.html"><i class="fa fa-angle-right"></i><span>合同管理 </span><span style="font-size:12px">Contract Management</span></a></li>
                 
                </ul>
              </li>
              <li class="treeview">
                <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>特批发货</span>
				<span style="font-size:12px">Special Delivery</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
					<ul class="treeview-menu">
						<li><a href="特批发货BPM.html"><i class="fa fa-angle-right"></i><span>特批发货</span><span style="font-size:12px">Special Delivery</span></a></li>
					</ul>
              </li>
              <li class="treeview">
              <li class="treeview">
                <a href="#">
                <i class="fa fa-laptop"></i>
                <span>报表管理 </span>
				<span style="font-size:12px">Report</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="购销明细报表BPM.html"><i class="fa fa-angle-right"></i> <span>购销明细报表</span><span style="font-size:12px">Detailed statement of purchase and sale</span> </a></li>
                  <li><a href="投标跟踪表BPM.html"><i class="fa fa-angle-right"></i> <span>投标跟踪表</span><span style="font-size:12px">Bid tracking report</span> </a></li>
                </ul>
              </li>
			  
              <li class="treeview">
                <a href="#">
                <i class="fa fa-edit"></i> 
				<span>系统管理</span>
				<span style="font-size:12px">System</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  <li><a href="人员管理BPM.html"><i class="fa fa-angle-right"></i>人员管理<span style="font-size:12px">Personnel management</span> </a></li>
				  <li><a href="参数设置BPM.html"><i class="fa fa-angle-right"></i>参数设置 <span style="font-size:12px">Parameter Settings</span></a></li>
				  <li><a href="角色管理BPM.html"><i class="fa fa-angle-right"></i>角色管理 <span style="font-size:12px">Role management</span></a></li>
				 <li><a href="operation.html"><i class="fa fa-angle-right"></i>权限管理 <span style="font-size:12px">Operation management</span></a></li>
                </ul>
              </li>
             </ul> 
          </div>
          <!-- /.navbar-collapse -->
      </nav>
    </aside>
    </div>
hello
</body>
</html>