<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div  class="container" th:fragment="materialconfig">
    	<div class="modal fade" id="materialconfigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="width:1200px">
			<div class="modal-content">
			<div class="modal-body">
			<div id="accordion-magical-coder-auto-id-1564722843467" class="panel-group" role="tablist" aria-multiselectable="true" style="margin-top: 2%; margin-left: 5%; margin-right: 4%;">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" href="#collapseOne-magical-coder-auto-id-1564722835059" aria-expanded="true" class="">基本信息</a>
						</h4>
					</div>
					<div id="collapseOne-magical-coder-auto-id-1564722835059" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
						<input type="hidden" id="identification">
						<div class="panel-body" style="height: auto;" mc-ace="~">

							<div class="row">

								<div class="col-md-3 col-xs-3">
									合同号
								</div>
								<div class="col-md-3 col-xs-3">
									合同名称
								</div>
								<div class="col-md-3 col-xs-3">
									产品型号
								</div>
								<div class="col-md-3 col-xs-3">
									商标要求
								</div>
								<div class="col-md-3 col-xs-3">
									<input type="text" class="form-control" readonly value="QHC123456">
								</div>
								<div class="col-md-3 col-xs-3">
									<input type="text" class="form-control" readonly>
								</div>
								<div class="col-md-3 col-xs-3">
									<input type="text" class="form-control" readonly>
								</div>
								<div class="col-md-3 col-xs-3">
									<input type="text" class="form-control" readonly>
								</div>
							</div>
							<div class="row" style="margin-top: 3px;">

								<div class="col-md-3 col-xs-3">
									木包装要求
								</div>
								<div class="col-md-3 col-xs-3">
									铭牌要求
								</div>
								<div class="col-md-6 col-xs-6">
									电路图要求
								</div>
								<div class="col-md-3 col-xs-3">
									<input type="text" class="form-control" readonly>
								</div>
								<div class="col-md-3 col-xs-3">
									<input type="text" class="form-control" readonly>
								</div>
								<div class="col-md-3 col-xs-3">
									<input type="text" class="form-control" readonly>
								</div>
								<div class="col-md-3 col-xs-3"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a class="" role="button" data-toggle="collapse" href="#collapseTwo-magical-coder-auto-id-1564722838816" aria-expanded="true">选项</a>
						</h4>
					</div>
				<form action="" id="materialConfigForm">
					<div id="collapseTwo-magical-coder-auto-id-1564722838816" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">

						<div class="panel-body" style="height: auto;color:black">

							<div class="row">
								<div class="col-xs-6 col-md-8" style="height: auto;">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr class="">
													<th class="">选项</th><th class="">配置</th>
													<th class="">配置值</th>
												</tr>
											</thead>
											<tbody>
												<tr class="">
													<td class="" style="width: 10%;">可选项</td>
													<td class="" style="width: 25%;"><input type="text" class="form-control" value="柜内颜色" readonly></td><td class="">
													<select class="form-control" name="color1">
														<option value="1">标准白色</option>
														<option value="2">2</option>
													</select></td>
												</tr>
												<tr class="">
													<td class="" style="width: 10%;">可选项</td>
													<td class="" style="width: 25%;"><input type="text" class="form-control" value="柜外颜色" readonly></td><td class="">
													<select class="form-control" name="color2">
														<option value="1">标准白色</option>
														<option value="2">2</option>
													</select></td>
												</tr>
												<tr class="">
													<td class="" style="width: 10%;">可选项</td>
													<td class="" style="width: 25%;"><input type="text" class="form-control" value="肩膀型材颜色" readonly></td><td class="">
													<select class="form-control" name="color3">
														<option value="1">标准白色</option>
														<option value="2">2</option>
													</select></td>
												</tr>
												<tr class="">
													<td class="" style="width: 10%;">必填项</td>
													<td class="" style="width: 25%;"><input type="text" class="form-control" value="F104 灵动宝宝顶部、贝贝搁板灯选项" title="F104 灵动宝宝顶部、贝贝搁板灯选项" readonly></td><td class="">
													<select class="form-control" name="color4">
														<option value="1">标准白色</option>
														<option value="2">2</option>
													</select></td>
												</tr>
												<tr class="">
													<td class="" style="width: 10%;">必填项</td>
													<td class="" style="width: 25%;"><input type="text" class="form-control" value="F105 灵动宝宝贝贝搁板层数选项" title="灵动宝宝贝贝搁板层数选项" readonly></td><td class="">
													<select class="form-control" name="color5">
														<option value="1">标准白色</option>
														<option value="2">2</option>
													</select></td>
												</tr>
												<tr class="">
													<td class="" style="width: 10%;">必填项</td>
													<td class="" style="width: 25%;"><input type="text" class="form-control" value="F106 白色价码条" readonly></td><td class="">
													<select class="form-control" name="color6">
														<option value="1">标准白色</option>
														<option value="2">2</option>
													</select></td>
												</tr>
												<tr class="">
													<td class="" style="width: 10%;">必填项</td>
													<td class="" style="width: 25%;"><input type="text" class="form-control" value="F107 黑色价码条" readonly></td><td class="">
													<select class="form-control" name="color7">
														<option value="1">标准白色</option>
														<option value="2">2</option>
													</select></td>
												</tr>
												<tr class="">
													<td class="" style="width: 10%;">必填项</td>
													<td class="" style="width: 25%;"><input type="text" class="form-control" value="F108 透明价码条挡条" readonly></td><td class="">
													<select class="form-control" name="color8">
														<option value="1">标准白色</option>
														<option value="2">2</option>
													</select></td>
												</tr>
												<tr class="">
													<td class="" style="width: 10%;">必填项</td>
													<td class="" style="width: 25%;"><input type="text" class="form-control" value="F109 有机玻璃挡条" readonly></td><td class="">
													<select class="form-control" name="color9">
														<option value="1">标准白色</option>
														<option value="2">2</option>
													</select></td>
												</tr>
												<tr class="">
													<td class="" style="width: 10%;">必填项</td>
													<td class="" style="width: 25%;"><input type="text" class="form-control" value="F110 钢化玻璃挡条" readonly></td><td class="">
													<select class="form-control" name="color10">
														<option value="1">标准白色</option>
														<option value="2">2</option>
													</select></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-xs-6 col-md-4" style="height: 333px;">
									<div class="row">
										<div class="col-xs-6 col-md-12">
											备注
										</div>
										<div class="col-xs-6 col-md-12">
											<textarea class="form-control" rows="3" name="remark2"></textarea>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-6 col-md-12">
											拼接图
										</div>
										<div class="col-xs-6 col-md-12">
											<textarea class="form-control" rows="3"></textarea>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-6 col-md-12">
											拼接图附件
										</div>
										<div class="col-xs-6 col-md-12">
											<input type="file" class="form-control-file">
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					</form>
				</div>
			</div>
			<div class="row" style="margin-left: 5%; margin-right: 5%;">
				<div class="col-xs-6">
					<button type="button" class="btn btn-danger" style="margin-left: 3%; margin-right: 5px;" onclick="resetStandardConfiguration()">一键还原标准配置</button>
				</div>
				<div class="col-xs-6">
					<button type="button" class="btn pull-right btn-warning" style="margin-right: 0%; margin-left: 5px;" onclick="closeMaterialConfig()">返回</button>
					<button type="button" class="btn pull-right btn-success" onclick="saveMaterialConfig()">保存</button>
				</div>
			</div>		
			</div>
		    </div>
		</div>
	</div>
</div>
</body>
</html>