<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="../pageJs/commonCss.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="../bootstrap-date/daterangepicker/daterangepicker-bs3.css"/>
<script type="text/javascript">
var ctxPath  = [[@{/}]];
</script>
</head> 
<body class="cbp-spmenu-push">
<div class="sticky-header header-section " th:replace="head::head">	</div>
<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1" th:replace="menu::menu">	</div>	

	
<div id="page-wrapper">
<ul class="breadcrumb" style="margin-left: 3%;">
	<li><a href="#">>订单管理</a></li>
</ul>	
<div id="accordion-magical-coder-auto-id-1565595642357" class="panel-group" role="tablist" aria-multiselectable="true" style="margin-left: 3%;">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#collapseOne-magical-coder-auto-id-1565595641736" aria-expanded="true" class="">查询列表 Query conditions</a>
            </h4>
        </div>
        <div id="collapseOne-magical-coder-auto-id-1565595641736" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
            <div class="panel-body" style="height: auto;">

                <div class="row">
                    <div class="col-md-3 col-xs-3">
                       	 需求流水号 Code
                    </div>
                    <div class="col-md-3 col-xs-3">
                                                                                    合同号 contract code
                    </div>
                    <div class="col-md-3 col-xs-3">
                       	 创建日期 Creation time
                    </div>
                    <div class="col-md-3 col-xs-3">
                       	 签约单位 Contract unit
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <input type="text" class="form-control" id="sequenceNumber">
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <input type="text" class="form-control" id="contractNumber">
                    </div>
                    <div class="col-md-3 col-xs-3">
					   <input type="text"  name="reservation" id="reservation" class="form-control"  /> 
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <input type="text" class="form-control" id="contracterName" >
                    </div>

                </div>
                <div class="row" style="margin-top: 2px;">
                    <div class="col-md-3 col-xs-3">
                       	 区域  Area
                    </div>
                    <div class="col-md-3 col-xs-3" >
                       	 订单类型 Order type
                    </div>
                   
                    <div class="col-xs-3 col-md-2">
                       	 是否有B2C
                    </div>
                    <div class="col-xs-3 col-md-2">
                       	 状态 Status
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <select class="form-control" id="officeCode">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <select class="form-control" id="orderType">
                        	<option value="">请选择</option>
			                            <option value="1">经销商标准折扣下单</option>
			                            <option value="2">经销商非标准折扣下单</option>
			                            <option value="3">直签客户投标报价</option>
			                            <option value="4">直签客户下定单</option>
			                            <option value="5">备货订单</option>
                        </select>
                    </div>
                    
                    <div class="col-xs-3 col-md-2">
                        <select class="form-control" id="b2c">
                            <option value="">请选择</option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </div>
                    <div class="col-xs-3 col-md-2">
                        <select class="form-control" id="status">
                            <option value="">请选择</option>
                            <option value="00">草稿</option>
                            <option value="01">待B2C审批</option>
                            <option value="02">待工程人员审批</option>
                            <option value="03">待支持经理审批</option>
                            <option value="04">提交到BPM</option>
                            <option value="05">BPM审批通过</option>
                            <option value="06">订单变更BPM审批通过</option>
                            <option value="09">已下推SAP</option>
                            <option value="10">Selling Tool驳回</option>
                            <option value="11">BPM驳回</option>
                        </select>
                    </div>

                </div>
                <div class="row" style="margin-top: 2px;">
                	<div class="col-md-3 col-xs-3">
                       	 提交日期  submit time
                    </div>
                    <div class="col-md-9 col-xs-9">
                       	 客户经理
                    </div>
                    <div class="col-md-3 col-xs-3">
					   <input type="text"  name="reservation1" id="reservation1" class="form-control"  /> 
                    </div>
                    <div class="col-md-3 col-xs-3">
						<input type="text" class="form-control" id="salesName">
					</div>
                    <div class="col-xs-6 col-md-6">
                        <button type="button" class="btn pull-right btn-warning" id="resetBtn" style="margin-left: 10px;">重置 reset</button>
                        <button type="button" class="btn pull-right btn-primary" id="search_btn">查询 select</button>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#collapseTwo-magical-coder-auto-id-1565595638071" aria-expanded="true" class="">订单列表 ORDER LIST</a>
            </h4>
        </div>
        <div id="collapseTwo-magical-coder-auto-id-1565595638071" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true" >
            <div class="panel-body" style="height: auto;">
                <div class="table-responsive">
                    <table id="mytab" class="table table-hover"></table>
                </div>
            </div>
        </div>
    </div>
</div>

		<div class="modal fade" id="modalContractDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document" style="width: 300px;">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">编辑合同号</h4>
					</div>
					<div id="contractDialogBody" class="modal-body">
						合同号 : <input id="modalContractNumber"></input>
						<input type="hidden" id="modalOrderInfoId"></input>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="nonStandardToSap()">确定</button>
					</div>
				</div>
			</div>
		</div>
</div>

<div id="footer" class="container" th:replace="foot::foot"></div>
 <script th:inline="javascript" th:src="@{/pageJs/commonJs.js}"></script>
 <script type="text/javascript" src="../bootstrap-date/daterangepicker/moment.js"></script>
<script type="text/javascript" src="../bootstrap-date/daterangepicker/daterangepicker.js"></script>	  
<script src="../pageJs/myOrder.js"></script>
<script type="text/javascript" src="../pageJs/main.js"></script>
<script>
var ctxPath  = [[@{/}]];
	var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
		showLeftPush = document.getElementById( 'showLeftPush' ),
		body = document.body;
		
	showLeftPush.onclick = function() {
		classie.toggle( this, 'active' );
		classie.toggle( body, 'cbp-spmenu-push-toright' );
		classie.toggle( menuLeft, 'cbp-spmenu-open' );
		disableOther( 'showLeftPush' );
	};
	

	function disableOther( button ) {
		if( button !== 'showLeftPush' ) {
			classie.toggle( showLeftPush, 'disabled' );
		}
	}
</script>	
<script>
     $('.sidebar-menu').SidebarNav()
 </script>
</body>
</html>