<!DOCTYPE HTML>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Bootstrap Core CSS -->
<link href="./css/bootstrap.css" rel='stylesheet' type='text/css' th:href="@{/css/bootstrap.css}"/>

<!-- Custom CSS -->
<link href="./css/style.css" rel='stylesheet' type='text/css' th:href="@{/css/style.css}"/>

<!-- font-awesome icons CSS -->
<link href="./css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"> 
<!-- //font-awesome icons CSS-->

<!-- js-->
<script src="./js/modernizr.custom.js" th:src="@{/js/modernizr.custom.js}"></script>

<!--webfonts-->
<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
<!--//webfonts--> 

<!-- chart -->
<script src="./js/Chart.js" th:src="@{/js/modernizr.custom.js}"></script>
<!-- //chart -->

<!-- Metis Menu -->
<script src="./js/metisMenu.min.js" th:src="@{/js/metisMenu.min.js}"></script>
<script src="./js/custom.js" th:src="@{/js/custom.js}"></script>
<link href="./css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}">
<!--//Metis Menu -->


<!-- side nav css file -->
<link href='./css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css' th:href="@{/css/SidebarNav.min.css}"/>
<!-- //side nav css file -->
<script src="./js/SidebarNav.min.js" th:src="@{/js/SidebarNav.min.js}"></script>


<!-- Metis Menu -->
<script src="../js/metisMenu.min.js" th:src="@{/js/metisMenu.min.js}"></script>
<script src="../js/custom.js" th:src="@{/js/custom.js}"></script>
<link href="../css/custom.css" rel="stylesheet" th:href="@{/css/custom.css}">
<!--//Metis Menu -->

<script src="./js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script src="./js/Chart.js" th:src="@{/js/modernizr.custom.js}"></script>
<link href="./assets/bootstrap.css" rel="stylesheet" th:href="@{/assets/bootstrap.css}">
<link  href="./assets/vendor/toastr/toastr.min.css" rel="stylesheet" th:href="@{/assets/vendor/toastr/toastr.min.css}"/>
<script src="./assets/vendor/toastr/toastr.min.js" th:src="@{/assets/vendor/toastr/toastr.min.js}"></script>

<script type="text/javascript">
	var ctxPath  = [[@{/}]];
	$(function(){
		$(".form").on("submit",function(e){
			e.preventDefault();
	    	var rid = new Array();
	    	var val=$(".checkbox-inline :checked");
	    	var ops=[];
	    	val.each(function(i){
	    		rid[i] = $(this).val();
	    		var obj = {
    				id: rid[i]
	    		};
    			ops.push(obj);
			  });   	
	    	//var rids = rid.join(",");
	    	var userId = $("#id").val();    
	    	var userName = $("#edituserName").val();    
	    	var tel = $("#mytel").val();   
	    	var userMail = $("#edituserMail").val();    
	    	var userIdentity = $("#edituserIdentity").val();
	    	var regionCode = $("#region").val();  
	    	var isActive = $("#isActive").val();    
	    	
	    	//alert(userId+":userId");
	    	//alert("#userName:"+userName);
	    	//alert("#userIdentity:"+userIdentity);
	    	
	    	userId=parseInt(userId);
	    	var data={id:userId,userName:userName,tel:tel,userMail:userMail,userIdentity:userIdentity,roles:ops,region:{code:regionCode},isActive:isActive};
	    	$.ajax({  
	    		   type:"post",
	      		   url: ctxPath+'user/update',
	      		   contentType:'application/json;charset=utf-8',
	      		   data:JSON.stringify(data),
	      		   async:false,
	      		   success: function(data){	    
	       		     if(data.status>200){
		       		    	toastr.warning(data.msg);  
		 	       		    setTimeout(function(){
		 	       		    	window.location.reload();
		 	       		     },2000);
	       		       }else{
	       		    	toastr.success(data.msg);
	       		   // window.location.href = ctxPath+"user/index";
	       		       setTimeout(function(){
	       		    		window.location.href = ctxPath+"user/index";
	       		        },2000);
	       		      } 				 
	      		}});
	    	
	       	});
		
		 $(".form #btn_back").on("click",function(e){
			 window.location.href = ctxPath+"user/index";
		 });
	})
 </script>
<script src="../pageJs/main.js" type="text/javascript" ></script>	
</head> 
<body class="cbp-spmenu-push">
<div class="sticky-header header-section " th:replace="head::head">	</div>
<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1" th:replace="menu::menu">	</div>	
	
<!-- main content start-->
<div id="page-wrapper">
	<div id="accordion-magical-coder-auto-id-1564457277922" class="panel-group" role="tablist" aria-multiselectable="true" style="margin-top: 20px; margin-left: 25px; margin-right: 25px;">
	        <div class="form-grids row widget-shadow" data-example-id="basic-forms">
	            <div class="form-title">
	                <h4>编辑用户信息</h4>
	            </div>
	            <div class="form-body">
	                <form class="form" >
	                	<input type="text" class="form-control id hidden" id="id" th:value="${map?.user.id}">
	                    <div class="form-group">
	                        <label>申请人姓名</label>
	                         <input type="text" class="form-control" id="edituserName" name="userName" th:value="${map?.user.userName}" required/>
	                    </div>
	                    
	                    <div class="form-group">
	                        <label>申请人电话</label>
	                         <input type="text" class="form-control" id="mytel" name="tel" th:value="${map?.user.tel}" required/>
	                    </div>
	                    <div class="form-group">
	                        <label>申请人邮箱</label>
	                         <input type="text" class="form-control" id="edituserMail" name="userMail" th:value="${map?.user.userMail}" required/>
	                    </div>
	                    
	                    <div class="form-group">
	                        <p class="help-block">
	                            	请填写邮箱（例：zhangsan@carrier.com）.
	                        </p>
	                    </div>
	                    <div class="form-group">
	                        <label>申请人域账号</label>
	                         <input type="text" class="form-control" id="edituserIdentity" name="userIdentity" th:value="${map?.user.userIdentity}" required/>
	                    </div>
	                    <div class="form-group">
	                        <label >请选择角色</label>
	                        <div class="row" style="width:100%; height:200px; border:solid 1px #CCC;">
							     <div  class="checkbox checkbox-inline checkbox-success"  th:each="role,roleStart:${map?.user.roles}" >                                          				   				       
				               		<div style="height:50px;width:150px;padding: 3px 10px;float:left;margin-left:15px">               
									     <input type="checkbox"  class="send  styled"   th:id="${role.id}"   th:value="${role.id}"  th:if="${role.selected==true}"   th:title="${role.id}" checked >
									     <input type="checkbox"  class="send  styled"   th:id="${role.id}"   th:value="${role.id}"  th:if="${role.selected!=true}"   th:title="${role.id}">
			                     		 <label   th:text="${role.name}" ></label>
				                     </div>                         
							   </div>
							</div>
	                        
	                    </div>
	                    <div class="form-group">
	                        <label >请选择区域</label>
	                        <select class="form-control" id="region"  th:value="${map?.user.region?.code}" >
	                        		<option  th:each="office:${officeList}" th:value="${office.code}"  th:text="${office.name}" th:selected="${map?.user.region?.code==office?.code}"></option>
								</select>
	                    </div>
	                    <div class="form-group" >
	                        <label >状态</label>
	                        <select class="form-control  isActive" id="isActive" th:value="${map?.user.isActive}">
								<option value="1" th:selected="${map?.user.isActive}==1">启用</option>
								<option value="0" th:selected="${map?.user.isActive}==0">停用</option>
							</select>
	                    </div>
	                    
	                    <div class="form-group text-righ" style="padding: 3px 10px;margin-top:55px;">						    
						     <button type="submit"   class="submit btn btn-primary pull-right " style="font-size: 15px; padding: 3px 10px;float:right;margin-right:15px">保存</button>
							<button type="button" class="btn btn-primary pull-right" id="btn_back" style="font-size: 15px; padding: 3px 10px ;float:right;margin-right:3px">返回</button>
						 </div>
	                </form>
	            </div>
	        </div>
	</div>
</div>
<script src="../js/classie.js"></script>
<script>
	var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
		showLeftPush = document.getElementById( 'showLeftPush' ),
		body = document.body;
		
	showLeftPush.onclick = function() {
		classie.toggle( this, 'active' );
		classie.toggle( body, 'cbp-spmenu-push-toright' );
		classie.toggle( menuLeft, 'cbp-spmenu-open' );
		disableOther( 'showLeftPush' );
	};
	

	function disableOther( button ) {
		if( button !== 'showLeftPush' ) {
			classie.toggle( showLeftPush, 'disabled' );
		}
	}
</script>	
<!--scrolling js-->
<script src="../js/jquery.nicescroll.js"></script>
<script src="../js/scripts.js"></script>
<!-- side nav js -->
<script src='../js/SidebarNav.min.js' type='text/javascript'></script>
<script>
     $('.sidebar-menu').SidebarNav()
   </script>	
<script src="../js/SimpleChart.js"></script>
<script src="../js/bootstrap.js"> </script>
</body>
</html>