<!DOCTYPE HTML>
<html>
<head>
<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/pie-chart.js" type="text/javascript"></script>
<link href="../assets/bootstrap.css" rel="stylesheet">
<link  href="../assets/vendor/toastr/toastr.min.css" rel="stylesheet"/>
<script src="../assets/vendor/toastr/toastr.min.js"></script>
 
</head> 
<body>
	<div id="accordion-magical-coder-auto-id-1564457277922" class="panel-group" role="tablist" aria-multiselectable="true" style="margin-top: 20px; margin-left: 25px; margin-right: 25px;">
	    <div class="panel panel-default">
	        <div class="panel-heading" role="tab">
	            <h4 class="panel-title">
	                <a role="button" data-toggle="collapse" href="#collapseOne-magical-coder-auto-id-1564457285983" aria-expanded="true" class="" mc-ace="~">角色授权 roleAuthorization</a>
	            </h4>
	        </div>
	        <div id="collapseOne-magical-coder-auto-id-1564457285983" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
	            <div class="panel-body" style="height: auto;">
					<form action=""  role="form"  class="form">
				         	<input type="hidden" th:value="${map?.role.id}" id="roleId"/>
				         		<div class="row" style="padding: 3px 10px;margin-top:15px;margin-right:15px">
					                    <div class="col-xs-12">名称</div>
					            </div>
					            <div class="row" style="padding: 3px 10px;margin-right:15px">
					                    <div class="col-xs-12">
					                        <input type="text" class="form-control" id="name" th:value="${map?.role.name}" />
					                    </div>
					            </div>
					            <div class="row" style="padding: 3px 10px;margin-top:15px;margin-right:15px">
					                    <div class="col-xs-12"> 状态</div>
					            </div>
					            <div class="row" style="padding: 3px 10px;margin-right:15px">
					                    <div class="col-xs-12">
					                        <select class="form-control  isActive" id="isActive" th:value="${map?.role.isActive}">
												<option value="1" th:selected="${map?.role.isActive}==1">启用</option>
												<option value="0" th:selected="${map?.role.isActive}==0">停用</option>
											</select>
					                    </div>
					             </div>
				         	
						         <div class="row" style="width:200px;padding: 3px 10px;margin-top:15px;margin-right:15px">
						         	<div class="col-xs-6"> 选择权限</div>
						         </div>
						         <div class="row" style="padding: 3px 10px;margin-left:10px;margin-right:20px;width:96%; height:200px; border:solid 1px #CCC;">
						               <div  class="checkbox checkbox-inline checkbox-success"  th:each="operation,operationStart:${map?.operationsAll}" >                                          				   				       
					               			<div class="col-md-6 col-xs-6"    style="height:50px;width:150px;padding: 3px 10px;float:left;margin-left:15px">               
											     <input type="checkbox"  class="send  styled"   th:id="${operation.id}"   th:value="${operation.id}"  th:if="${operation.selected==true}"   th:title="${operation.id}" checked>
											     <input type="checkbox"  class="send  styled"   th:id="${operation.id}"   th:value="${operation.id}"  th:if="${operation.selected!=true}"   th:title="${operation.id}">
					                     		 <label   th:text="${operation.name}" ></label>
					                      </div>                         
						            	
						            </div>
								</div>
								         
					            <div class="form-group text-righ" style="padding: 3px 10px;margin-top:65px;margin-right:15px">						    
								      <button type="submit"   class="submit btn btn-primary pull-right " style="font-size: 15px; padding: 3px 10px;float:right;margin-right:15px">保存</button>
								      <button type="button" class="btn btn-primary pull-right" id="btn_back" style="font-size: 15px; padding: 3px 10px;float:right;margin-right:3px">返回</button>
								 </div>
				         </form>
	            </div>
	        </div>
	    </div>
	</div>
		
<script>
	var ctxPath  = [[@{/}]];
	$(".form").on("submit",function(e){
    	e.preventDefault();
    	var oid = new Array();
    	var val=$(".checkbox-inline :checked");
    	var ops=[];
    	val.each(function(i){
    		oid[i] = $(this).val();
    		var obj = {
    				id: oid[i]
        		};
    			ops.push(obj);
		  });   		
    	//var oids = oid.join(",");
    	var roleId = $("#roleId").val();    
    	var name = $("#name").val();    
    	var isActive = $("#isActive").val();    
    	roleId=parseInt(roleId);
    	var data={id:roleId,operations:ops,name:name,isActive:isActive};
    	console.log(data);
    	console.log(typeof oids);
    	 
    	$.ajax({  type:"post",
	      		   url: ctxPath+'role/updateAuthorization',
	      		   contentType:'application/json;charset=utf-8',
	      		   data:JSON.stringify(data),
	      		   success: function(data){	     	      			
	       		     if(data.status>200){
 	       		    	toastr.warning(data.msg);  
 	       		    setTimeout(function(){
 	       		    	window.location.reload();
 	       		     },2000);
 	       		       }
 	       		    else{
 	       		    	toastr.success(data.msg);
 	       		       setTimeout(function(){
 	       		    	window.location.href = ctxPath+"/role/index";
 	       		        },2000);
 	       		      } 				 
	      		}});
    	
       	});
	
	 $(".form #btn_back").on("click",function(e){
		 window.location.href = ctxPath+"/role/index";
	    });
	      
</script>	
</body>
</html>