<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::head('角色管理 Role management')">
<meta charset="utf-8" />
</head>
<body>
	<div class="panel">
	<div id="accordion-magical-coder-auto-id-1564457277922" class="panel-group" role="tablist" aria-multiselectable="true" style="margin-top: 20px; margin-left: 25px; margin-right: 25px;">
		<div id="collapseOne-magical-coder-auto-id-1564457285983" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
            <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#collapseOne-magical-coder-auto-id-1564457285983" aria-expanded="true" class="" mc-ace="~">用户查询 role query</a>
            </h4>
        </div>
        <div id="collapseOne-magical-coder-auto-id-1564457285983" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
            <div class="panel-body" style="height: auto;">
				<form action="">
	                 <div class="row">   
						<div class="col-md-3 col-xs-3"> 状态 status </div>
					</div>
					<div class="row">
	                   <div class="col-md-3 col-xs-3">
	                        <select class="form-control  searchVal2" name="" th:value="${role?.isActive}">
	                        		<option value="2">请选择</option>
									<option value="1" th:selected="${role?.isActive }==1">停用</option>
									<option value="0" th:selected="${role?.isActive }==0">启用</option>
								</select>
	                    </div>
	                </div>
                </form>
                <button type="button" class="btn btn-primary" style="margin-top: 10px; margin-right: 20px;" id="btn_select">查询select</button>
            </div>
        </div>
    </div>
        </div>
		<div class="panel-body">
			<table class="table table-bordered table-responsive">
				<caption>用户列表</caption>
				<thead>
					<tr>
						<th>编号</th>
						<th>角色名称 Role name</th>
						<th>状态 Status</th>
						<th>操作 Operation</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="${pageInfo.list != null}">
						<tr th:each="role,roleStart: ${pageInfo.list}">
							<td th:text="${roleStart.count}">560001</td>
							<td th:text="${role?.name}" value="${role?.name}">Bangalore</td>
							<td th:text="${role.isActive>0?'禁用' :'启用'}" th:style="${role.isActive>0?'color:red' :'color:green'}" >560001</td>
							<td>
									<button type="button" class="btn btn-primary btn-lg" data-toggle="modal"  id="update" th:title="${role.id}"
									data-target="#magicalcoderMyModal-magical-coder-auto-id-1564365300654" style="font-size: 10px; padding: 3px 10px;">
                                    		edit
                                </button>
                                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"  id="update_auth" th:title="${role.id}"
									data-target="#magicalcoderMyModal-magical-coder-auto-id-1564365300654" style="font-size: 10px; padding: 3px 10px;">
                                    		 Role Authorization
                                </button>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>

			<div th:include="page :: pager" th:remove="tag"></div> 
		</div>
	</div>
	</div>
	<!-- 操作模态框 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<p class="modal-title" id="myModalLabel">Edit</p>
				</div>
				<div class="modal-body">
					<form action="" method="post" class="form roleform">
						<div class="form-group">
							<input type="number" class="form-control id hidden">
						</div>
						
						<div class="form-group">
							<label for="name">角色 Role name</label> 
							<input type="text" class="form-control  name" name="" disabled="disabled">
						</div>
						
						<div class="form-group">
							<label for="name">状态 status</label>
							<div class="input-group">
								<select class="form-control  isActive" name="isActive">
									<option value="1" >停用</option>
									<option value="0" >启用</option>
								</select>
							</div>
						</div>
						
						<div class="form-group text-righ">
							<button type="submit" class="submit btn btn-primary pull-right ">保存</button>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
	<script type="text/javascript">
	var ctxPath  = [[@{/}]];
      $(function(){
    	  $("#update").on("click",function(){
    		 	var id= $(this).attr("title");
	  			var rolename=$(this).parent().siblings("td:eq(1)").text();
	  			var isActive=$(this).parent().siblings("td:eq(2)").text();
    		 	
	  			$(".roleform .id").val(id);
	  			$(".roleform .name").val(rolename);
	  			if(isActive=="启用"){
	  				$(".roleform .isActive").val(0); 
	  			}else{
	  				$(".roleform .isActive").val(1);
	  			}
	  			$(".roleform .submit").text("更新");
    		  $("#myModal").modal("show");   		  
    		 return false;
    	  });
    	  
    	  $(".roleform").on("submit",function(e){
    		  e.preventDefault();
    		  var url=ctxPath+"/role/update";
    		  var id=null;
    		  if($(".roleform .id").val()!=null){
    			 id=parseInt($(".roleform .id").val());
    		     }    		  
    		  var name=$(".roleform .name").val(); 
    		  var isActive=$(".roleform .isActive").val();
    		
    		  var data={
    				  id:id,
    				  name:name,
    				  isActive:isActive
    				  }
    		  $.ajax(
    		      		{type:"POST",
    		      		   url: url,
    		      		   contentType:'application/json;charset=utf-8',
    		      		   data:JSON.stringify(data),
    		      		   success: function(data){	  
    		      			 showmsg(data);	     
    		      		   },
    		      		  error: function (xhr) {
    		      	        console.log(xhr);
    		      	    } });
    	     });
    	  
	    	  $("#btn_select").on("click",function(){
	    	      var name=$(".searchVal1").val();
	    	      var isActive=$(".searchVal2").val();
	    	      window.location.href = ctxPath+"/role/index?name="+name+"&isActive="+isActive; 
	    	      return false;
	          });
	    	  $("#update_auth").on("click",function(){
	    		  var id= $(this).attr("title");
	    	      window.location.href = ctxPath+"/role/authorization?id="+id; 
	    	      return false;
	          });
    	  
          });
      
	      $("#btn_reset").on("click",function(){
		      $(".searchVal1").val('');
		      $(".searchVal2").val('');
		      return false;
	      });
      
       
      function showmsg(data){
    	  if(data.status>200){
		    	toastr.warning(data.msg);  
		       }
		    else{
		    	toastr.success(data.msg);
		      }
		 setTimeout(function(){
			window.location.reload();	      				 
		    },1000);
      }
      
      toastr.options = {  
    	        closeButton: false,  
    	        debug: false,  
    	        progressBar: false,  
    	        positionClass: "toast-bottom-center",  
    	        onclick: null,  
    	        showDuration: "300",  
    	        hideDuration: "1000",  
    	        timeOut: "2000",  
    	        extendedTimeOut: "1000",  
    	        showEasing: "swing",  
    	        hideEasing: "linear",  
    	        showMethod: "fadeIn",  
    	        hideMethod: "fadeOut"  
    	    }; 
      
      
    </script>
</body>
</html>