<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/pie-chart.js" type="text/javascript"></script>
<link href="../assets/bootstrap.css" rel="stylesheet">
<link  href="../assets/vendor/toastr/toastr.min.css" rel="stylesheet"/>
<script src="../assets/vendor/toastr/toastr.min.js"></script>
	
 <script type="text/javascript">
 var ctxPath  = [[@{/}]];
     $(function(){
    	  $("#btn_select").on("click",function(){
    	      var userName=$(".searchVal1").val();
    	      var userMail=$(".searchVal2").val();
    	      var rolesName=$(".searchVal3").val();
    	      var isActive=$(".searchVal4").val();
    	      window.location.href = ctxPath+"user/index?userMail="+userMail+"&rolesName="+rolesName+"&isActive="+isActive+"&userName="+userName; 
    	      return false;
          });
    	  
    	  $("#btn_reset").on("click",function(){
    	      $(".searchVal1").val('');
    	      $(".searchVal2").val('');
    	      $(".searchVal3").val('');
    	      $(".searchVal4").val(2);
    	      return false;
          });
    	  
    	  $(".update_user").on("click",function(){
      		  var userIdentity= $(this).attr("title");
      	      window.location.href = ctxPath+"user/toUpdate?userIdentity="+userIdentity; 
      	      return false;
            });
        });
     
      function showmsg(data){
    	  if(data.status>200){
		    	toastr.warning(data.msg);  
		       }
		    else{
		    	toastr.success(data.msg);
		      }
		 setTimeout(function(){
			window.location.reload();	      				 
		    },1000);
      }
      
      toastr.options = {  
  	        closeButton: false,  
  	        debug: false,  
  	        progressBar: false,  
  	        positionClass: "toast-bottom-center",  
  	        onclick: null,  
  	        showDuration: "300",  
  	        hideDuration: "1000",  
  	        timeOut: "2000",  
  	        extendedTimeOut: "1000",  
  	        showEasing: "swing",  
  	        hideEasing: "linear",  
  	        showMethod: "fadeIn",  
  	        hideMethod: "fadeOut"  
  	    }; 
 
 </script>
</head> 
<body>
<div id="accordion-magical-coder-auto-id-1564457277922" class="panel-group" role="tablist"  style="margin-top: 20px; margin-left: 35px; margin-right: 20px;">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" href="#collapseOne-magical-coder-auto-id-1564457285983" aria-expanded="true" class="" mc-ace="~">用户查询 User query</a>
            </h4>
        </div>
        <div id="collapseOne-magical-coder-auto-id-1564457285983" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
            <div class="panel-body" style="height: auto;">
				<form action="">
					 <div class="row">
	                    <div class="col-md-4 col-xs-43">
	                       	 域账号 user Identity
	                    </div>
	                    <div class="col-md-4 col-xs-4">
	                        	用户邮箱 user main
	                    </div>
	                    <div class="col-md-4 col-xs-4">
	                        	状态 status
	                    </div>
	                    <div class="col-md-4 col-xs-4">
	                        <input type="text" class="form-control searchVal1" id="searchVal1" th:value="${user1?.userIdentity}">
	                    </div>
	                    <div class="col-md-4 col-xs-4">
	                        <input type="text" class="form-control searchVal2" id="searchVal2" th:value="${user1?.userMail}">
	                    </div>
	                    <div class="col-md-4 col-xs-4">
	                        <select class="form-control  searchVal4" name="" th:value="${user1?.isActive}">
	                        		<option value="2">全选</option>
									<option value="1" th:selected="${user1?.isActive }==1">启用</option>
									<option value="0" th:selected="${user1?.isActive }==0">停用</option>
								</select>
	                    </div>
	                </div>
				</form>
               
                <button type="button" class="btn btn-primary" id="btn_select" style="margin-top: 10px; margin-right: 20px;">查询select</button><button type="button" id="btn_reset" class="btn btn-primary" style="margin-top: 10px; margin-right: 20px;">重置reset</button>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab">
            <h4 class="panel-title">
                <a class="" role="button" data-toggle="collapse" href="#collapseTwo-magical-coder-auto-id-1564457283858" aria-expanded="true">用户列表 List of users</a>
            </h4>
        </div>
        <div id="collapseTwo-magical-coder-auto-id-1564457283858" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
            <div class="panel-body" style="height: auto;">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
							<tr>
								<th>编号</th>
								<th>用户名</th>
								<th>邮箱</th>
								<th>域账号</th>
								<th>角色</th>
								<th>区域</th>
								<th>账号状态</th>
								<th>操作</th>
							</tr>
						</thead>
                        <tbody>
							<th:block th:if="${datas.content != null}">
								<tr th:each="user,userStart: ${datas.content}">
									<td th:text="${userStart.count}">560001</td>
									<td th:text="${user.userName}">Bangalore</td>
									<td th:text="${user.userMail}">Bangalore</td>
									<td th:text="${user.userIdentity}">560001</td>
									<td th:text="${user.rolesName}">Bangalore</td>
									<td th:text="${user.region?.name}">Bangalore</td>
									<td th:text="${user.isActive>0?'启用' :'禁用'}" th:style="${user.isActive>0?'color:green' :'color:red'}">560001</td>
									<td>
									<!-- <a class="update" th:href="@{/user/update(id=${user?.id})}"  style="color: green;margin-right:20px;" th:title="${user.id}">
											<i class="glyphicon glyphicon-refresh"></i>编辑</a>  -->
											<!-- <button type="button" class="btn btn-primary btn-lg update" data-toggle="modal"  th:title="${user.id}"
											data-target="#magicalcoderMyModal-magical-coder-auto-id-1564365300654" style="font-size: 13px; padding: 3px 10px;">
		                                    		编辑 edit
		                                </button> -->
		                                <button type="button" class="btn btn-primary btn-lg update_user"   th:title="${user.userIdentity}"
												data-target="#magicalcoderMyModal-magical-coder-auto-id-1564365300654" style="font-size: 13px; padding: 3px 10px;">
                                    		编辑 edit
                                		</button>
									</td>
								</tr>
							</th:block>
						</tbody>
                    </table>
                </div>
				<div th:include="page :: pager" th:remove="tag"></div> 
            </div>
        </div>
    </div>
</div>
</body>
</html>